Repository akuity/kargo, pull requests merged in 2023-09, with the labels that each got.

#630 control flow stages
  api/v1alpha1/stage_types.go
  charts/kargo-kit/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/api/types/v1alpha1/types.go
  internal/controller/promotion/composite.go
  internal/controller/promotion/composite_test.go
  internal/controller/stages/stages.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
Labels: kind/enhancement, priority/high, area/controller, area/api

#629 feat: Add QueryFreight API
  api/service/v1alpha1/service.proto
  internal/api/helpers.go
  internal/api/promote_subscribers_v1alpha1_test.go
  internal/api/query_freights_v1alpha1.go
  internal/api/query_freights_v1alpha1_test.go
  internal/api/testdata/query-freight-1.yaml
  internal/api/testdata/query-freight-2.yaml
  internal/api/testdata/query-freight-3.yaml
  internal/api/validators.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/enhancement, priority/high, area/api

#651 add component labels to governance bot
  .github/governance.yml
Labels: kind/enhancement, area/ci-process, priority/normal

#653 feat: support supplying bcrypt hash of admin password
  charts/kargo/templates/api/secret.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, priority/normal, area/charts

#650 update PromotionPhases
  api/v1alpha1/promotion_types.go
  docs/docs/20-quickstart.mdx
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/garbage/collector.go
  internal/garbage/collector_test.go
  internal/kubeclient/indexer.go
  internal/kubeclient/indexer_test.go
Labels: area/documentation, kind/refactor, priority/high, area/controller

#657 fix: don't crash controller on reconcile panics
  internal/controller/applications/applications.go
  internal/controller/options.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
Labels: kind/bug, priority/high, area/controller

#654 ui fix: link to repo url was incorrect
  ui/src/features/stage/available-freight.tsx
Labels: kind/bug, area/ui, priority/normal

#664 feat(ui): Promotions
  ui/src/app.tsx
  ui/src/config/themeConfig.ts
  ui/src/features/stage/promotions.tsx
  ui/src/features/stage/stage-details.tsx
  ui/vite.config.ts
Labels: kind/enhancement, area/ui, priority/high

#673 fix: introduce progressing health state for progressing/syncing argocd applications
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  internal/api/types/v1alpha1/types.go
  internal/argocd/apps.go
  internal/argocd/apps_test.go
  internal/controller/stages/argocd.go
  internal/controller/stages/argocd_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/assets/icons/circle-notch.svg
  ui/src/features/common/health-status/health-status-icon.tsx
  ui/src/features/common/health-status/utils.ts
  ui/src/features/project/project-details/utils/health.ts
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/bug, priority/high, area/controller

#681 controller: update app health check predicate to check revision changes
  internal/controller/applications/applications.go
  internal/controller/applications/applications_test.go
Labels: kind/bug, priority/high, area/controller

#675 evaluate whether an App is synced only on basis of revision
  internal/controller/stages/argocd.go
  internal/controller/stages/argocd_test.go
Labels: kind/bug, priority/normal, area/controller

#683 update quickstart to reference latest pre-release
  docs/docs/20-quickstart.mdx
  docs/docs/30-how-to-guides/10-installing-kargo.md
Labels: kind/bug, area/documentation, priority/urgent

#685 separate stage health and freight qualification
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo-kit/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/api/promote_subscribers_v1alpha1.go
  internal/api/promote_subscribers_v1alpha1_test.go
  internal/api/query_freights_v1alpha1.go
  internal/api/testdata/promote-subscribers-downstream1.yaml
  internal/api/testdata/promote-subscribers-upstream.yaml
  internal/api/testdata/query-freight-1.yaml
  internal/api/testdata/query-freight-2.yaml
  internal/api/testdata/query-freight-3.yaml
  internal/api/types/v1alpha1/types.go
  internal/controller/stages/argocd.go
  internal/controller/stages/argocd_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/project/project-details/stage-item.tsx
  ui/src/features/stage/stage-details.tsx
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, kind/refactor, area/ui, priority/high, area/controller, area/api, area/crds

#700 check stage health even when there is no current freight
  internal/controller/stages/argocd.go
  internal/controller/stages/argocd_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
Labels: kind/bug, priority/normal, area/controller

#706 fix(ui): Edit Stage doesn't show current value
  ui/src/features/stage/edit-stage-modal.tsx
  ui/src/features/stage/stage-actions.tsx
Labels: kind/bug, area/ui, priority/high

#702 updated Argo CD and cert-manager in quick start
  Makefile
  docs/docs/20-quickstart.mdx
Labels: area/documentation, kind/chore, area/devx, priority/normal

#704 capture Argo CD App health and sync state in Stage heath
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo-kit/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  go.mod
  internal/api/types/v1alpha1/types.go
  internal/controller/stages/argocd.go
  internal/controller/stages/argocd_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, priority/high, area/controller

#728 add cli sso login splash
  internal/cli/login/assets/Poppins-Medium.ttf
  internal/cli/login/assets/favicon.ico
  internal/cli/login/assets/kargo.png
  internal/cli/login/assets/splash.css
  internal/cli/login/login.go
Labels: kind/enhancement, priority/low, area/cli

#696 fix: argocd-image-updater@v0.12.2 to fix #694
  go.mod
  go.sum
Labels: kind/bug, priority/normal, area/controller

#735 feat(ui): Helm/Container/Git Repository is shown in DAG
  ui/src/features/project/project-details/nodes/repo-node.module.less
  ui/src/features/project/project-details/nodes/repo-node.tsx
  ui/src/features/project/project-details/nodes/stage-node.module.less
  ui/src/features/project/project-details/nodes/stage-node.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/project/project-details/stage-item.module.less
  ui/src/features/project/project-details/stage-item.tsx
  ui/src/features/project/project-details/stage-node.tsx
  ui/src/features/project/project-details/types.ts
Labels: kind/enhancement, area/ui, priority/normal

#743 fix(ui): Refreshing the Stage should refetch freights
  ui/src/features/stage/stage-actions.tsx
Labels: kind/bug, area/ui, priority/normal

#753 fix(ui): Number of freight uid characters is inconsistent
  ui/src/features/freightline/freightline.tsx
Labels: kind/bug, area/ui, priority/normal

#750 fix(ui): return to normal freightline after clicking promote YES button
  ui/src/features/freightline/freightline.tsx
Labels: kind/bug, area/ui, priority/normal

#755 feat(ui): Add a note about the suggestions feature below the yaml editor
  ui/src/features/common/code-editor/yaml-editor-lazy.tsx
Labels: kind/enhancement, area/ui, priority/low

#757 feat(ui): Adjust the height of Live Manifest to fit the screen size
  ui/src/app.less
  ui/src/features/common/code-editor/yaml-editor-lazy.tsx
  ui/src/features/stage/manifest-preview.tsx
  ui/src/features/stage/stage-details.tsx
Labels: kind/enhancement, area/ui, priority/low

#760 fix garbage collector permissions
  charts/kargo/templates/garbage-collector/cluster-roles.yaml
Labels: kind/bug, priority/normal, area/charts, area/garbage-collector

#749 feat(ui): more linkage
  ui/src/features/project/project-details/nodes/repo-node.module.less
  ui/src/features/project/project-details/nodes/repo-node.tsx
  ui/src/features/stage/stage-actions.tsx
  ui/src/features/stage/subscriptions.tsx
  ui/src/utils/url.ts
Labels: kind/enhancement, area/ui, priority/normal

#764 feat(ui): Show rough timestamp for each freight
  ui/src/features/freightline/freightline.tsx
Labels: kind/enhancement, area/ui, priority/normal

#767 fix codegen process
  .gitignore
  Makefile
Labels: kind/bug, area/devx, priority/normal

#771 cli: persist --insecure-skip-tls-verify option in config if specified during login
  internal/cli/client/client.go
  internal/cli/client/token_refresher.go
  internal/cli/client/token_refresher_test.go
  internal/cli/config/config.go
  internal/cli/login/login.go
Labels: area/security, priority/normal, area/cli

#772 enable API server to use TLS natively (without ingress)
  Tiltfile
  charts/kargo/templates/api/cert.yaml
  charts/kargo/templates/api/configmap.yaml
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/api/ingress.yaml
  charts/kargo/templates/api/service.yaml
  charts/kargo/templates/dex-server/secret.yaml
  charts/kargo/values.yaml
  internal/api/config/config.go
  internal/api/server.go
Labels: kind/enhancement, area/security, priority/normal, area/charts, area/api

#775 fix(ui): Stage name is collapsed
  ui/src/features/project/project-details/nodes/stage-node.module.less
  ui/src/features/project/project-details/nodes/stage-node.tsx
Labels: kind/bug, area/ui, priority/normal

#773 various small fixes on resource types
  api/v1alpha1/stage_types.go
  charts/kargo-kit/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
Labels: kind/enhancement, priority/normal, area/crds

#781 chart: fix missing volumemount
  charts/kargo/templates/api/deployment.yaml
Labels: kind/bug, priority/urgent, area/charts

#783 keep all available freight qualified
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
Labels: kind/enhancement, priority/high, area/controller

#786 cli: add special table printer for stages
  internal/cli/get/get.go
Labels: kind/enhancement, priority/high, area/cli

#788 get tilting again
  Tiltfile
  charts/kargo/README.md
  charts/kargo/values.yaml
  values.dev.yaml
Labels: kind/bug, area/devx, priority/high

#796 fix(docs): use titlecase for headings
  docs/docs/10-overview.md
  docs/docs/15-concepts.md
  docs/docs/20-quickstart.mdx
  docs/docs/30-how-to-guides/10-installing-kargo.md
  docs/docs/30-how-to-guides/20-managing-credentials.md
  docs/docs/40-contributor-guide/10-hacking-on-kargo.md
  docs/docs/40-contributor-guide/20-signing-commits.md
  docs/docs/40-contributor-guide/index.md
Labels: area/documentation, kind/refactor, priority/normal

#791 Allow specifying output option to `version` command
  cmd/cli/version.go
Labels: kind/enhancement, priority/normal, area/cli

#799 dump aux charts
  .github/workflows/release.yaml
  Makefile
  charts/argocd-kit/Chart.yaml
  charts/argocd-kit/templates/_helpers.tpl
  charts/argocd-kit/templates/argocd/role-binding.yaml
  charts/argocd-kit/templates/argocd/role.yaml
  charts/argocd-kit/templates/cluster-role-binding.yaml
  charts/argocd-kit/templates/cluster-role.yaml
  charts/argocd-kit/templates/service-account.yaml
  charts/argocd-kit/values.yaml
  charts/kargo-kit/Chart.yaml
  charts/kargo-kit/crds/kargo.akuity.io_promotionpolicies.yaml
  charts/kargo-kit/crds/kargo.akuity.io_promotions.yaml
  charts/kargo-kit/crds/kargo.akuity.io_stages.yaml
  charts/kargo-kit/templates/_helpers.tpl
  charts/kargo-kit/templates/cluster-role-bindings.yaml
  charts/kargo-kit/templates/cluster-roles.yaml
  charts/kargo-kit/templates/service-account.yaml
  charts/kargo-kit/templates/webhooks.yaml
  charts/kargo-kit/values.yaml
  charts/kargo/README.md
  charts/kargo/values.yaml
  ui/hack/generate-schema.mjs
Labels: kind/refactor, priority/normal, area/charts

#790 Add `get promotions` command to CLI
  internal/cli/get/get.go
  internal/cli/get/project.go
  internal/cli/get/projects.go
  internal/cli/get/promotions.go
  internal/cli/get/stage.go
  internal/cli/get/stages.go
  internal/cli/option/flag.go
Labels: kind/enhancement, priority/urgent, area/cli, go

#808 script some of the quickstart to make it... quicker
  docs/docs/20-quickstart.mdx
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: area/documentation, kind/refactor, priority/normal

#810 all new quickstart
  docs/docs/20-quickstart.mdx
Labels: area/documentation, kind/refactor, priority/high

#819 cli: fix broken auto-completion
  cmd/cli/root.go
Labels: kind/bug, priority/normal, area/cli

#823 fix allowTags in image subscriptions
  internal/images/images.go
Labels: kind/bug, priority/normal, area/controller

#822 release process: publish fig autocomplete spec for kargo CLI
  .github/workflows/release.yaml
  cmd/cli/root.go
  go.mod
  go.sum
Labels: kind/enhancement, area/release-process, priority/normal, area/cli, area/ux

#829 chart: require admin password and token signing key to be set
  charts/kargo/README.md
  charts/kargo/templates/api/secret.yaml
  charts/kargo/values.yaml
  docs/docs/30-how-to-guides/10-installing-kargo.md
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: kind/bug, priority/normal, area/charts

#834 chart: fix api server permissions to work on openshift
  charts/kargo/templates/api/cluster-role.yaml
Labels: area/security, priority/normal, area/charts

#833 update contributor docs
  docs/docs/40-contributor-guide/10-hacking-on-kargo.md
Labels: kind/bug, area/documentation, kind/enhancement, priority/normal

#828 make mutating webhook for promos set owner ref
  charts/kargo/templates/webhooks-server/cluster-role.yaml
  charts/kargo/templates/webhooks/webhooks.yaml
  internal/webhook/promotion/webhook.go
Labels: kind/bug, priority/normal, area/webhooks

#824 rename image update strategies and remove image updater-related workarounds
  api/v1alpha1/stage_types.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  go.mod
  go.sum
  internal/controller/stages/images.go
  internal/controller/stages/images_test.go
  internal/controller/stages/stages.go
  internal/images/image_updater.go
  internal/images/image_updater_test.go
  internal/images/images.go
  internal/images/images_test.go
  internal/images/semver.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
Labels: kind/refactor, priority/normal, area/controller, area/crds

#843 quickstart: fix kargo cli install instructions
  docs/docs/20-quickstart.mdx
Labels: area/documentation, kind/chore, priority/normal

#845 chore: Lengthen admin acct token TTL
  charts/kargo/README.md
  charts/kargo/values.yaml
Labels: kind/chore, area/devx, priority/normal, area/charts, area/ux

#861 feat(ui): Several visual UI improvements
  ui/src/features/common/layout/main-layout.module.less
  ui/src/features/common/layout/main-layout.tsx
  ui/src/features/common/layout/nav-item/nav-item.module.less
  ui/src/features/common/layout/nav-item/nav-item.tsx
  ui/src/features/freightline/stage-indicators.tsx
  ui/src/features/project/project-details/images.tsx
  ui/src/features/project/project-details/nodes/stage-node.tsx
  ui/src/features/project/project-details/project-details.module.less
  ui/src/features/project/project-details/project-details.tsx
Labels: kind/enhancement, area/ui, priority/normal

#873 fix app syncing to account for syncpolicy/options
  internal/controller/promotion/argocd.go
Labels: kind/bug, priority/normal, area/controller

#899 issue template changes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement_proposal.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/security_logs.md
Labels: kind/chore, priority/normal
