Repository akuity/kargo, pull requests merged in 2023-08, with the labels that each got.

#498 add docs/ to .dockerignore
  .dockerignore
Labels: area/chore, area/devx

#497 add nodejs and pnpm to Dockerfile.dev
  Dockerfile.dev
Labels: area/chore, area/devx

#511 remote kind/feat label from governance bot
  .github/governance.yml
Labels: area/chore, priority/normal

#491 add sso via oidc -- pt1
  Tiltfile
  api/service/v1alpha1/service.proto
  charts/kargo/templates/_helpers.tpl
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/common/cert-issuer.yaml
  charts/kargo/templates/dex-server/cert.yaml
  charts/kargo/templates/dex-server/configmap.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/dex-server/service-account.yaml
  charts/kargo/templates/dex-server/service.yaml
  charts/kargo/values.yaml
  cmd/cli/root.go
  cmd/controlplane/api.go
  go.mod
  go.sum
  internal/api/dex/proxy.go
  internal/api/dex/proxy_test.go
  internal/api/handler/get_public_config_v1alpha1.go
  internal/api/oidc/config.go
  internal/api/server.go
  internal/cli/login/login.go
  internal/cli/login/login_test.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/enhancement, area/security, priority/high, area/cli, area/charts, area/api

#512 add comments to kubeclient.GetCredential func
  internal/kubeclient/auth.go
Labels: area/documentation, area/chore, priority/normal, area/api

#509 upgrade to latest bookkeeper
  Dockerfile
  go.mod
  go.sum
Labels: kind/bug, area/chore, priority/high

#504 add docs: cli support in local development
  Makefile
  docs/docs/40-contributor-guide/10-hacking-on-kargo.md
Labels: area/documentation, area/devx, priority/normal

#513 cli: add --kubeconfig option to login cmd
  internal/cli/login/login.go
Labels: kind/enhancement, area/security, priority/high, area/cli

#515 upgrade debian to bookworm and go to v1.20.7
  .github/workflows/ci.yaml
  Dockerfile
  Dockerfile.dev
Labels: area/chore, priority/normal

#516 upgrade linter
  .github/workflows/ci.yaml
  .golangci.yaml
  Dockerfile.dev
  cmd/cli/root.go
  internal/cli/login/login.go
Labels: area/chore, priority/normal

#514 add CLI build to CI and release processes
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Makefile
Labels: kind/enhancement, area/chore, area/ci-process, area/release-process, priority/normal

#508 cli: persist bearer and/or refresh tokens in ~/.kargo/config on login
  go.mod
  go.sum
  internal/cli/config/config.go
  internal/cli/config/config_test.go
  internal/cli/login/login.go
Labels: kind/enhancement, area/security, priority/high, area/cli

#523 slight refactoring of config.LoadCLIConfig() func
  internal/cli/config/config.go
  internal/cli/config/config_test.go
Labels: kind/refactor, priority/normal, area/cli

#478 feat(ui): Add/Delete Stage
  ui/hack/generate-schema.mjs
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/app.less
  ui/src/app.tsx
  ui/src/features/common/code-editor/yaml-editor-lazy.tsx
  ui/src/features/common/code-editor/yaml-editor.module.less
  ui/src/features/common/code-editor/yaml-editor.tsx
  ui/src/features/common/confirm-modal/confirm-modal.tsx
  ui/src/features/common/confirm-modal/use-confirm-modal.tsx
  ui/src/features/common/form/field-container.tsx
  ui/src/features/common/modal/modal-context.tsx
  ui/src/features/common/modal/use-modal.ts
  ui/src/features/common/portal.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/stage/create-stage-modal.tsx
  ui/src/features/stage/stage-details.tsx
  ui/src/features/stage/stage-yaml-example.ts
  ui/src/gen/schema/promotionpolicies.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/promotions.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/pages/project.tsx
  ui/src/utils/delay.ts
  ui/src/utils/validators.ts
  ui/vite.config.ts
Labels: kind/enhancement, area/ui, priority/normal

#520 Add OIDC login to UI
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/app.tsx
  ui/src/config/paths.ts
  ui/src/features/auth/oidc-login.tsx
  ui/src/pages/login.tsx
Labels: area/ui, priority/normal

#526 Tiltfile: categorize an uncatergorized resource
  Tiltfile
Labels: area/chore, priority/normal

#522 slight refactoring of cli root command
  cmd/cli/main.go
  cmd/cli/root.go
Labels: kind/refactor, priority/normal, area/cli

#536 chart: make api service configurable
  charts/kargo/templates/api/service.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, priority/high, area/charts, area/api

#540 chart: add option to create ingress resource
  Tiltfile
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/api/ingress.yaml
  charts/kargo/templates/api/service.yaml
  charts/kargo/templates/dex-server/configmap.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, priority/normal, area/charts, area/api

#539 chart: fix concurrency policy for gc cron job
  charts/kargo/templates/garbage-collector/cron-job.yaml
Labels: kind/bug, priority/normal, area/charts

#541 fix: simplify helm chart with hardwired names. add explicit namespaces
  charts/kargo/templates/_helpers.tpl
  charts/kargo/templates/api/cluster-role-binding.yaml
  charts/kargo/templates/api/cluster-role.yaml
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/api/ingress.yaml
  charts/kargo/templates/api/secret.yaml
  charts/kargo/templates/api/service-account.yaml
  charts/kargo/templates/api/service.yaml
  charts/kargo/templates/argocd/role-binding.yaml
  charts/kargo/templates/argocd/role.yaml
  charts/kargo/templates/common/cert-issuer.yaml
  charts/kargo/templates/controller/cluster-role-bindings.yaml
  charts/kargo/templates/controller/cluster-roles.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/templates/controller/service-account.yaml
  charts/kargo/templates/dex-server/cert.yaml
  charts/kargo/templates/dex-server/configmap.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/dex-server/service-account.yaml
  charts/kargo/templates/dex-server/service.yaml
  charts/kargo/templates/garbage-collector/cluster-role-bindings.yaml
  charts/kargo/templates/garbage-collector/cluster-roles.yaml
  charts/kargo/templates/garbage-collector/cron-job.yaml
  charts/kargo/templates/garbage-collector/service-account.yaml
  charts/kargo/templates/webhooks-server/cert.yaml
  charts/kargo/templates/webhooks-server/cluster-role-binding.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
  charts/kargo/templates/webhooks-server/deployment.yaml
  charts/kargo/templates/webhooks-server/service-account.yaml
  charts/kargo/templates/webhooks-server/service.yaml
  charts/kargo/templates/webhooks/webhooks.yaml
Labels: kind/refactor, priority/normal, area/charts

#525 cli: build api client using local config
  cmd/cli/root.go
  internal/api/option/auth.go
  internal/api/option/auth_test.go
  internal/api/option/option.go
  internal/cli/client/auth.go
  internal/cli/client/auth_test.go
  internal/cli/client/client.go
  internal/cli/login/login.go
  internal/cli/option/flag.go
  internal/cli/option/option.go
  internal/cli/project/create.go
  internal/cli/project/delete.go
  internal/cli/project/list.go
  internal/cli/stage/delete.go
  internal/cli/stage/list.go
  internal/cli/stage/promote.go
  internal/cli/stage/set_auto_promotion.go
Labels: kind/enhancement, priority/high, area/cli, area/api

#533 feat(ui): Admin login
  ui/src/app.tsx
  ui/src/features/auth/admin-login.tsx
  ui/src/features/auth/oidc-login.tsx
  ui/src/features/auth/use-auth.ts
  ui/src/pages/login.tsx
  ui/src/pages/login/login.module.less
  ui/src/pages/login/login.tsx
Labels: kind/enhancement, area/ui, priority/normal

#537 cli: option to skip tls cert verification
  cmd/cli/root.go
  internal/cli/client/client.go
  internal/cli/client/token_refresher.go
  internal/cli/client/token_refresher_test.go
  internal/cli/login/login.go
  internal/cli/option/flag.go
  internal/cli/option/option.go
Labels: kind/enhancement, area/security, priority/normal, area/cli

#544 fix(ui): Login view does not work
  ui/src/config/transport.ts
  ui/src/pages/login/login.tsx
Labels: kind/bug, priority/high

#542 feat: serve kargo UI and bundle assets into image
  Dockerfile
  Makefile
  Tiltfile
  internal/api/server.go
  internal/http/http.go
Labels: kind/enhancement, area/ui, priority/normal, area/api

#546 chart: fix missing cert resource for ingress
  charts/kargo/templates/api/ingress-cert.yaml
  charts/kargo/templates/common/cert-issuer.yaml
Labels: kind/bug, priority/normal, area/charts

#477 feat(ui): Add global API requests error handling
  ui/src/config/transport.ts
Labels: kind/enhancement, area/ui, priority/normal

#547 chart: bounce api server when secret changes
  charts/kargo/templates/api/deployment.yaml
Labels: kind/enhancement, priority/normal, area/charts

#551 chart: put dex config in a secret
  Tiltfile
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/dex-server/secret.yaml
Labels: area/security, kind/refactor, priority/normal, area/charts

#552 chart: clean up cert-related comments in values.yaml
  charts/kargo/values.yaml
Labels: kind/chore, priority/normal, area/charts

#554 add ui/node_modules to .dockerignore
  .dockerignore
Labels: kind/chore, area/devx, priority/normal

#555 Tiltfile: fix api.host value set when rendering chart
  Tiltfile
Labels: kind/chore, area/devx, priority/normal

#560 chart: fix dex config
  charts/kargo/templates/dex-server/secret.yaml
Labels: kind/bug, priority/normal, area/charts

#575 Use latest connect packages
  Makefile
  buf.gen.yaml
  cmd/cli/version.go
  go.mod
  go.sum
  internal/api/grpc_health.go
  internal/api/handler/admin_login_v1alpha1.go
  internal/api/handler/create_project_v1alpha1.go
  internal/api/handler/create_promotion_policy_v1alpha1.go
  internal/api/handler/create_stage_v1alpha1.go
  internal/api/handler/delete_project_v1alpha1.go
  internal/api/handler/delete_promotion_policy_v1alpha1.go
  internal/api/handler/delete_stage_v1alpha1.go
  internal/api/handler/get_promotion_policy_v1alpha1.go
  internal/api/handler/get_public_config_v1alpha1.go
  internal/api/handler/get_stage_v1alpha1.go
  internal/api/handler/get_stage_v1alpha1_test.go
  internal/api/handler/get_version_info_v1alpha1.go
  internal/api/handler/list_projects_v1alpha1.go
  internal/api/handler/list_promotion_policies_v1alpha1.go
  internal/api/handler/list_stages_v1alpha1.go
  internal/api/handler/list_stages_v1alpha1_test.go
  internal/api/handler/promote_stage_v1alpha1.go
  internal/api/handler/promote_stage_v1alpha1_test.go
  internal/api/handler/set_auto_promotion_for_stage_v1alpha1.go
  internal/api/handler/update_promotion_policy_v1alpha1.go
  internal/api/handler/update_stage_v1alpha1.go
  internal/api/handler/validators.go
  internal/api/handler/watch_stage_v1alpha1.go
  internal/api/option/auth.go
  internal/api/option/auth_test.go
  internal/api/option/codec.go
  internal/api/option/log.go
  internal/api/option/log_test.go
  internal/api/option/option.go
  internal/api/server.go
  internal/cli/client/auth.go
  internal/cli/client/auth_test.go
  internal/cli/client/client.go
  internal/cli/client/token_refresher.go
  internal/cli/login/login.go
  internal/cli/project/create.go
  internal/cli/project/delete.go
  internal/cli/project/list.go
  internal/cli/stage/delete.go
  internal/cli/stage/list.go
  internal/cli/stage/promote.go
  internal/cli/stage/set_auto_promotion.go
  pkg/api/metav1/types.pb.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  pkg/api/v1alpha1/types.pb.go
  ui.buf.gen.yaml
  ui/src/gen/metav1/types_pb.ts
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/chore, area/ui, priority/normal, area/api

#577 refactor: make localMode part of server config
  cmd/cli/root.go
  cmd/controlplane/api.go
  internal/api/config/config.go
  internal/api/option/option.go
  internal/api/server.go
Labels: kind/refactor, priority/high, area/api

#582 linting: adjust revive rules
  .golangci.yaml
Labels: kind/chore, priority/high, area/cli

#584 bcrypt admin password
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/api/secret.yaml
  internal/api/config/config.go
  internal/api/handler/admin_login_v1alpha1.go
Labels: kind/enhancement, area/security, priority/normal, area/charts, area/api

#576 feat(ui): Auth UI
  ui/src/app.tsx
  ui/src/config/paths.ts
  ui/src/config/transport.ts
  ui/src/features/auth/admin-login.tsx
  ui/src/features/auth/context/auth-context-provider.tsx
  ui/src/features/auth/context/auth-context.tsx
  ui/src/features/auth/context/use-auth-context.tsx
  ui/src/features/auth/oidc-login.tsx
  ui/src/features/auth/protected-route.tsx
  ui/src/features/auth/use-auth.ts
  ui/src/features/common/layout/main-layout.module.less
  ui/src/features/common/layout/main-layout.tsx
  ui/src/pages/login/login.tsx
Labels: kind/enhancement, area/ui, priority/high

#561 api server: proper authentication
  cmd/controlplane/api.go
  internal/api/option/auth.go
  internal/api/option/auth_test.go
  internal/api/option/option.go
  internal/api/server.go
  internal/api/user/user.go
  internal/api/user/user_test.go
  internal/cli/login/login.go
  internal/kubeclient/context.go
  internal/kubeclient/context_test.go
  internal/kubeclient/transport.go
  internal/kubeclient/transport_test.go
Labels: kind/enhancement, area/security, priority/high, area/api

#578 Wojtek/docs are technical
  docs/docs/10-overview.md
  docs/docs/15-concepts.md
Labels: area/documentation, priority/normal

#587 feat(ui): Add auth token to request header
  ui/src/config/transport.ts
  ui/src/features/auth/context/auth-context-provider.tsx
Labels: kind/enhancement, area/ui, priority/high

#586 cli: account for jwts that don't expire
  internal/api/option/auth.go
  internal/cli/client/token_refresher.go
Labels: kind/bug, area/security, priority/normal, area/cli

#583 add optional field to image subscriptions to link it back to a source CODE (not config) repo
  api/v1alpha1/stage_types.go
  charts/kargo-kit/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/controller/stages/images.go
  internal/controller/stages/images_test.go
  internal/controller/stages/stages.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
Labels: kind/enhancement, priority/normal, area/controller

#589 controller fix: status updates have no effect
  api/v1alpha1/promotion_types.go
  api/v1alpha1/stage_types.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/kubeclient/patch.go
Labels: kind/bug, priority/urgent, area/controller

#595 add AUD claim to admin tokens
  charts/kargo/templates/api/deployment.yaml
  internal/api/config/config.go
  internal/api/handler/admin_login_v1alpha1.go
Labels: kind/enhancement, area/security, priority/normal, area/api

#596 fix AUD claim on IDP-issued tokens
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/dex-server/secret.yaml
Labels: kind/bug, area/security, priority/normal, area/api

#594 fix ISS claim on admin tokens
  charts/kargo/templates/api/deployment.yaml
  internal/api/config/config.go
  internal/api/handler/admin_login_v1alpha1.go
  internal/api/option/auth.go
  internal/api/option/auth_test.go
Labels: kind/bug, area/security, priority/normal, area/api

#598 fix(controller): use patch to make stage/promotion status changes to avoid conflict errors
  api/v1alpha1/promotion_types.go
  api/v1alpha1/stage_types.go
  charts/kargo/templates/controller/cluster-roles.yaml
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/kubeclient/patch.go
Labels: kind/bug, priority/normal, area/controller

#599 make admin token ttl configurable
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/values.yaml
  internal/api/config/config.go
  internal/api/handler/admin_login_v1alpha1.go
Labels: kind/enhancement, area/security, priority/normal, area/api

#588 authorizing k8s client
  cmd/cli/root.go
  cmd/controlplane/api.go
  cmd/controlplane/common.go
  cmd/controlplane/controller.go
  cmd/controlplane/garbage_collector.go
  cmd/controlplane/webhooks.go
  internal/api/handler/watch_stages_v1alpha1.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/client_test.go
  internal/api/option/auth.go
  internal/api/option/auth_test.go
  internal/api/server.go
Labels: area/security, priority/high, area/api

#601 chart: simplify secret --> env var pattern
  Tiltfile
  charts/kargo/templates/api/configmap.yaml
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/api/secret.yaml
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/garbage-collector/configmap.yaml
  charts/kargo/templates/garbage-collector/cron-job.yaml
  charts/kargo/templates/webhooks-server/configmap.yaml
  charts/kargo/templates/webhooks-server/deployment.yaml
Labels: kind/refactor, priority/low, area/charts, area/tech-debt

#602 fix(ui): Use created Transport on WatchStages query
  ui/src/features/project/project-details/project-details.tsx
Labels: kind/bug, area/ui, priority/high

#603 fix(ui): Update types and displayed data to the latest API schema
  ui/src/features/common/health-status-icon/health-status-icon.tsx
  ui/src/features/project/project-details/stage-item.tsx
  ui/src/features/stage/available-states.tsx
  ui/src/features/stage/subscriptions.tsx
Labels: kind/bug, area/ui, priority/high

#579 refactor handlers for simplicity
  internal/api/admin_login_v1alpha1.go
  internal/api/create_project_v1alpha1.go
  internal/api/create_promotion_policy_v1alpha1.go
  internal/api/create_stage_v1alpha1.go
  internal/api/delete_project_v1alpha1.go
  internal/api/delete_promotion_policy_v1alpha1.go
  internal/api/delete_stage_v1alpha1.go
  internal/api/get_promotion_policy_v1alpha1.go
  internal/api/get_public_config_v1alpha1.go
  internal/api/get_stage_v1alpha1.go
  internal/api/get_stage_v1alpha1_test.go
  internal/api/get_version_info_v1alpha1.go
  internal/api/handler/admin_login_v1alpha1.go
  internal/api/handler/create_project_v1alpha1.go
  internal/api/handler/create_promotion_policy_v1alpha1.go
  internal/api/handler/create_stage_v1alpha1.go
  internal/api/handler/delete_project_v1alpha1.go
  internal/api/handler/delete_promotion_policy_v1alpha1.go
  internal/api/handler/delete_stage_v1alpha1.go
  internal/api/handler/get_promotion_policy_v1alpha1.go
  internal/api/handler/get_public_config_v1alpha1.go
  internal/api/handler/get_stage_v1alpha1.go
  internal/api/handler/get_version_info_v1alpha1.go
  internal/api/handler/list_projects_v1alpha1.go
  internal/api/handler/list_promotion_policies_v1alpha1.go
  internal/api/handler/list_stages_v1alpha1.go
  internal/api/handler/list_stages_v1alpha1_test.go
  internal/api/handler/promote_stage_v1alpha1.go
  internal/api/handler/set_auto_promotion_for_stage_v1alpha1.go
  internal/api/handler/update_promotion_policy_v1alpha1.go
  internal/api/handler/update_stage_v1alpha1.go
  internal/api/handler/validators.go
  internal/api/handler/watch_stages_v1alpha1.go
  internal/api/handler_test.go
  internal/api/list_projects_v1alpha1.go
  internal/api/list_promotion_policies_v1alpha1.go
  internal/api/list_stages_v1alpha1.go
  internal/api/list_stages_v1alpha1_test.go
  internal/api/promote_stage_v1alpha1.go
  internal/api/promote_stage_v1alpha1_test.go
  internal/api/server.go
  internal/api/set_auto_promotion_for_stage_v1alpha1.go
  internal/api/testdata/namespace.yaml
  internal/api/testdata/stage.yaml
  internal/api/update_promotion_policy_v1alpha1.go
  internal/api/update_stage_v1alpha1.go
  internal/api/validators.go
  internal/api/watch_stages_v1alpha1.go
Labels: kind/refactor, priority/normal, area/api, area/tech-debt

#608 fix(ui): RedirectURI should omit colon
  ui/src/features/auth/oidc-login.tsx
Labels: kind/bug, area/ui, priority/low

#618 tool upgrades
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  Dockerfile.dev
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo-kit/crds/kargo.akuity.io_promotionpolicies.yaml
  charts/kargo-kit/crds/kargo.akuity.io_promotions.yaml
  charts/kargo-kit/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_promotionpolicies.yaml
  charts/kargo/crds/kargo.akuity.io_promotions.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
Labels: kind/chore, area/devx, area/ci-process, priority/normal

#619 chart: add option to skip dex approval screen
  charts/kargo/templates/dex-server/secret.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, area/security, priority/normal

#607 feat(ui): Add Helm Charts to subscriptions details
  ui/src/features/stage/subscriptions.tsx
Labels: kind/enhancement, area/ui, priority/normal

#609 feat(ui): Add refresh Stage button
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/stage/create-stage-modal.tsx
  ui/src/features/stage/stage-details.tsx
Labels: kind/enhancement, area/ui, priority/normal
