Repository akuity/kargo, pull requests merged in 2023-11, with the labels that each got.

#1015 invoke kargo render via cli
  Dockerfile
  cmd/controlplane/controller.go
  go.mod
  go.sum
  internal/controller/promotion/render.go
  internal/controller/promotion/render_test.go
  internal/controller/promotion/root.go
  internal/controller/promotion/root_test.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/kargo-render/render.go
Labels: kind/refactor, priority/high, area/controller

#1087 cli: add get + delete warehouse commands
  internal/cli/delete/delete.go
  internal/cli/delete/warehouse.go
  internal/cli/get/get.go
  internal/cli/get/warehouse.go
Labels: kind/enhancement, priority/high, area/cli

#1088 feat: add refresh warehouse CLI and controller functionality
  api/service/v1alpha1/service.proto
  api/v1alpha1/helpers.go
  api/v1alpha1/stage_helpers.go
  api/v1alpha1/warehouse_helpers.go
  cmd/cli/root.go
  internal/api/watch_warehouses_v1alpha1.go
  internal/cli/create/project.go
  internal/cli/delete/project.go
  internal/cli/delete/stage.go
  internal/cli/delete/warehouse.go
  internal/cli/login/login.go
  internal/cli/option/option.go
  internal/cli/refresh/refresh.go
  internal/cli/refresh/stage.go
  internal/cli/refresh/warehouse.go
  internal/cli/stage/promote.go
  internal/cli/stage/promote_subscribers.go
  internal/cli/stage/set_auto_promotion.go
  internal/controller/warehouses/warehouses.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/enhancement, priority/high, area/controller, area/cli

#1105 fix fig step in release process
  .github/workflows/release.yaml
Labels: kind/bug, area/release-process, priority/normal

#875 update docs for v0.2.0
  docs/docs/15-concepts.md
  docs/docs/20-quickstart.mdx
Labels: area/documentation, kind/refactor, do not merge yet, priority/normal

#1109 refactor kargo-render cmd invocation
  internal/kargo-render/render.go
Labels: kind/bug, area/security, priority/urgent, area/controller

#1110 chart: give controller permission to patch warehouses
  charts/kargo/templates/controller/cluster-roles.yaml
Labels: kind/bug, area/security, priority/urgent, area/charts

#1112 fix auto-promotions
  internal/controller/stages/stages.go
  internal/kubeclient/indexer.go
Labels: kind/bug, priority/urgent, area/controller

#1114 fix error invoking kargo render
  internal/kargo-render/render.go
Labels: kind/bug, priority/urgent, area/controller

#1116 upgrade golang image used in ci and release processes
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: kind/chore, area/ci-process, area/release-process, priority/normal

#1091 make warehouse do shallow, single-branch clones
  internal/controller/git/git.go
  internal/controller/promotion/git.go
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
Labels: kind/refactor, priority/normal, area/controller

#1122 update values.yaml with notes about including port in api.host field
  charts/kargo/README.md
  charts/kargo/values.yaml
Labels: area/documentation, kind/enhancement, priority/normal, area/charts

#1127 merge v0.2.x into main
  ui/src/features/freightline/freightline.tsx
Labels: kind/chore

#1124 shard warehouse reconcilers
  cmd/controlplane/controller.go
  internal/controller/labels.go
  internal/controller/warehouses/warehouses.go
Labels: kind/refactor, priority/normal, area/controller

#1130 fix v0.2.x branch
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  Dockerfile.dev
  charts/kargo/README.md
  charts/kargo/values.yaml
  internal/controller/git/git.go
  internal/controller/promotion/git.go
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/config/query-client.ts
  ui/src/features/auth/admin-login.tsx
  ui/src/features/auth/oidc-login.tsx
  ui/src/features/common/button-icon/button-icon.module.less
  ui/src/features/common/button-icon/button-icon.tsx
  ui/src/features/common/code-editor/yaml-editor-lazy.tsx
  ui/src/features/common/index.ts
  ui/src/features/common/layout/main-layout.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/stage/create-stage-modal.tsx
  ui/src/features/stage/edit-stage-modal.tsx
  ui/src/features/stage/stage-actions.tsx
  ui/src/pages/project.tsx
Labels: kind/chore

#1131 make ci work for semver-ish branch names
  .github/workflows/ci.yaml
Labels: kind/chore, priority/normal, area/cli

#1133 update ci triggers
  .github/workflows/ci.yaml
Labels: kind/chore, area/ci-process, priority/normal

#1134 update ci triggers
  .github/workflows/ci.yaml
Labels: kind/chore, area/ci-process, priority/normal

#1125 remove dead code
  internal/controller/applications/applications.go
  internal/controller/applications/applications_test.go
Labels: kind/refactor, priority/normal, area/controller

#1129 fix flakey priority queue test
  go.mod
  go.sum
  internal/controller/runtime/queues_test.go
Labels: kind/bug, area/ci-process, priority/normal, area/controller

#1097 add alias label to freight
  go.mod
  go.sum
  internal/cli/get/freight.go
  internal/cli/get/get.go
  internal/controller/warehouses/aliases.go
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
Labels: kind/enhancement, priority/normal, area/controller, area/cli

#1141 chore: remove ACL permissions for Kargo Nightly CLI
  .github/workflows/release.yaml
Labels: kind/chore, area/release-process, priority/normal

#1142 chore: replace `github.com/ghodss/yaml` with `sigs.k8s.io/yaml`
  go.mod
  go.sum
  internal/cli/config/config.go
  internal/cli/config/config_test.go
Labels: kind/chore, kind/refactor, priority/normal, area/cli, dependencies

#1152 fix(ui): Checking token expiration before requests
  ui/src/config/transport.ts
Labels: kind/bug, area/ui, priority/normal

#1151 rename Freight's "qualified" field to "verifiedIn"; add "approvedFor" field
  api/v1alpha1/freight_helpers.go
  api/v1alpha1/freight_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_freights.yaml
  cmd/controlplane/api.go
  internal/api/promote_stage_v1alpha1.go
  internal/api/promote_stage_v1alpha1_test.go
  internal/api/promote_subscribers_v1alpha1.go
  internal/api/promote_subscribers_v1alpha1_test.go
  internal/api/query_freights_v1alpha1.go
  internal/api/query_freights_v1alpha1_test.go
  internal/api/server.go
  internal/api/server_test.go
  internal/api/types/v1alpha1/types.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/watches.go
  internal/kubeclient/indexer.go
  internal/kubeclient/indexer_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/freights.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, kind/refactor, priority/normal, area/controller, area/api, area/crds

#1160 on new freight, enqueue subscribed stages
  internal/controller/stages/stages.go
  internal/controller/stages/watches.go
  internal/kubeclient/indexer.go
Labels: kind/enhancement, kind/refactor, priority/high, area/controller

#1041 enable defining global credentials in configurable namespace(s)
  charts/kargo/README.md
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/values.yaml
  cmd/controlplane/controller.go
  internal/controller/promotion/root_test.go
  internal/credentials/credentials.go
  internal/credentials/credentials_options.go
  internal/credentials/credentials_test.go
Labels: area/security, kind/discussion, priority/normal, area/controller, needs-discussion, kind/feature-request
