Repository akuity/kargo, pull requests merged in 2023-10, with the labels that each got.

#908 ci(stale): add scheduled workflow
  .github/workflows/stale.yml
Labels: kind/enhancement, area/devx, priority/low

#910 remove issue template for questions
  .github/ISSUE_TEMPLATE/question.md
Labels: kind/chore, priority/normal

#912 fix(docs): update commands for mac x86
  docs/docs/20-quickstart.mdx
Labels: kind/bug, area/documentation, priority/high, hacktoberfest

#924 feat(docs): Add Discord link to header
  docs/docusaurus.config.js
Labels: area/documentation, kind/enhancement, good first issue, priority/urgent, hacktoberfest

#948 improve ci and release processes
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: kind/chore, area/ci-process, area/release-process, kind/refactor, priority/normal

#971 fix fig step in release.yaml
  .github/workflows/release.yaml
Labels: kind/bug, area/release-process, priority/normal

#980 fix:(helm charts): add notes about pkce in values.yaml #976
  charts/kargo/values.yaml
Labels: area/documentation, kind/chore, priority/normal, area/charts, hacktoberfest

#983 s/bookkeeper/kargo-render/g
  Dockerfile
  api/v1alpha1/freight_types.go
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_freights.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  cmd/controlplane/controller.go
  go.mod
  go.sum
  internal/api/types/v1alpha1/types.go
  internal/controller/promotion/generic_git.go
  internal/controller/promotion/git.go
  internal/controller/promotion/git_test.go
  internal/controller/promotion/render.go
  internal/controller/promotion/render_test.go
  internal/controller/promotion/root.go
  internal/controller/promotion/root_test.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
  internal/controller/warehouses/warehouses.go
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/freights.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/refactor, priority/high, area/controller, area/api, area/crds

#986 minor refactoring of WarehouseSpec
  api/v1alpha1/types.proto
  api/v1alpha1/warehouse_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  internal/api/types/v1alpha1/types.go
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
  internal/controller/warehouses/helm.go
  internal/controller/warehouses/helm_test.go
  internal/controller/warehouses/images.go
  internal/controller/warehouses/images_test.go
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/refactor, priority/high, area/webhooks, area/controller, area/crds

#960 update discord badge in readme to use vanity url
  README.md
Labels: area/documentation, kind/chore, priority/normal

#984 copy over git pkg from kargo-render
  internal/controller/git/git.go
  internal/controller/promotion/git.go
  internal/controller/promotion/git_test.go
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
  internal/controller/warehouses/warehouses.go
Labels: kind/refactor, priority/high, area/controller

#1000 fix controller permissions to allow patching stages
  charts/kargo/templates/controller/cluster-roles.yaml
Labels: kind/bug, priority/high, area/controller, area/charts

#993 fix netlify pr doc previews
  netlify.toml
Labels: kind/bug, kind/chore, area/devx, priority/high

#1014 warehouse bug fix
  internal/controller/warehouses/git.go
  internal/controller/warehouses/helm.go
  internal/controller/warehouses/images.go
Labels: kind/bug, priority/high, area/controller

#999 fix stage qualifications for flow control stages
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
Labels: kind/bug, priority/urgent, area/controller

#989 use a minimal subset of argo cd resource types
  Makefile
  cmd/controlplane/controller.go
  go.mod
  internal/controller/applications/applications.go
  internal/controller/argocd/api/v1alpha1/application_annotations.go
  internal/controller/argocd/api/v1alpha1/application_helpers.go
  internal/controller/argocd/api/v1alpha1/application_types.go
  internal/controller/argocd/api/v1alpha1/doc.go
  internal/controller/argocd/api/v1alpha1/gitops_engine.go
  internal/controller/argocd/api/v1alpha1/groupversion_info.go
  internal/controller/argocd/api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/controller/stages/health.go
  internal/controller/stages/health_test.go
  internal/controller/stages/stages.go
Labels: kind/refactor, priority/normal, area/controller

#1022 update quickstart with notes about helm version
  docs/docs/20-quickstart.mdx
Labels: area/documentation, kind/chore, priority/high

#1023 fix nightly build cron expression
  .github/workflows/release.yaml
Labels: kind/chore, area/release-process, priority/normal

#1001 add get freight command to cli
  api/v1alpha1/types.proto
  internal/api/query_freights_v1alpha1.go
  internal/api/query_freights_v1alpha1_test.go
  internal/api/types/v1alpha1/types.go
  internal/cli/get/freight.go
  internal/cli/get/get.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, priority/high, area/cli, area/api

#1034 fix resource <--> proto logic for Freight
  internal/api/types/v1alpha1/types.go
Labels: kind/bug, priority/high, area/api
