Repository akuity/kargo, pull requests merged in 2023-12, with the labels that each got.

#1201 switch docs from yarn to pnpm
  docs/package.json
  docs/plugins/gtag/pnpm-lock.yaml
  docs/plugins/gtag/yarn.lock
  docs/pnpm-lock.yaml
  docs/yarn.lock
  netlify.toml
Labels: area/documentation, kind/chore, priority/normal

#1204 lower the barriers to entry to run quickstart or to contribute
  Makefile
  docs/docs/20-quickstart.mdx
  docs/docs/40-contributor-guide/10-hacking-on-kargo.md
  docs/docs/40-contributor-guide/10-hacking-on-kargo.mdx
  hack/quickstart/install.sh
  hack/quickstart/uninstall.sh
Labels: area/documentation, kind/enhancement, area/devx, priority/low

#1218 add option to disable liveness and readiness probes
  Tiltfile
  charts/kargo/README.md
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/values.yaml
  values.dev.yaml
Labels: kind/enhancement, area/devx, priority/normal, area/charts

#1217 do not use tls when running with tilt
  Tiltfile
  values.dev.yaml
Labels: area/devx, kind/refactor, priority/normal

#1220 relax cors policy on api server
  charts/kargo/README.md
  charts/kargo/templates/api/configmap.yaml
  charts/kargo/values.yaml
  go.mod
  go.sum
  internal/api/config/config.go
  internal/api/server.go
  values.dev.yaml
Labels: kind/enhancement, area/security, area/devx, priority/low, area/api

#1058 image updater replacement
  .golangci.yaml
  api/v1alpha1/types.proto
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  go.mod
  go.sum
  internal/api/types/v1alpha1/types.go
  internal/controller/warehouses/images.go
  internal/controller/warehouses/images_test.go
  internal/controller/warehouses/warehouses.go
  internal/image/creds.go
  internal/image/digest_tag_selector.go
  internal/image/digest_tag_selector_test.go
  internal/image/lexical_tag_selector.go
  internal/image/lexical_tag_selector_test.go
  internal/image/newest_build_tag_selector.go
  internal/image/newest_build_tag_selector_test.go
  internal/image/platform_constraint.go
  internal/image/platform_constraint_test.go
  internal/image/registry.go
  internal/image/registry_test.go
  internal/image/repository_client.go
  internal/image/repository_client_docker_hub_test.go
  internal/image/repository_client_test.go
  internal/image/semver_tag_selector.go
  internal/image/semver_tag_selector_test.go
  internal/image/tag.go
  internal/image/tag_selector.go
  internal/image/tag_selector_docker_hub_test.go
  internal/image/tag_selector_ghcr_test.go
  internal/image/tag_selector_test.go
  internal/image/tag_test.go
  internal/images/creds.go
  internal/images/images.go
  internal/images/images_test.go
  internal/webhook/warehouse/webhook.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/refactor, priority/normal, area/webhooks, area/controller, area/api, area/crds

#1226 make vite bind to 0.0.0.0
  ui/package.json
Labels: kind/chore, area/devx, priority/normal

#1214 make authorizing client wrapper check all admin-designated namespaces for SA mappings
  cmd/controlplane/api.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/client_test.go
  internal/api/option/auth.go
  internal/api/user/user.go
Labels: kind/bug, area/security, priority/high, area/api

#1233 make quickstart use appset
  docs/docs/20-quickstart.mdx
Labels: area/documentation, kind/chore, priority/normal

#1232 update Makefile and quickstart to use latest argo cd
  Makefile
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: area/documentation, kind/chore, area/devx, priority/normal

#1235 eliminate remaining go mod dependencies on argo cd and gitops engine
  go.mod
  go.sum
  internal/credentials/credentials.go
Labels: kind/refactor, priority/normal, area/controller

#1255 chore(deps): bump minor versions of several go mod dependencies
  go.mod
  go.sum
Labels: kind/chore, priority/normal, dependencies

#1268 fix(controller): make tag selector ignore references in an oci image index that don't look like they refer to an image
  internal/image/repository_client.go
  internal/image/repository_client_test.go
  internal/image/tag_selector_ghcr_test.go
Labels: kind/bug, priority/urgent, area/controller

#1248 chore(devx): make tilt crazy fast
  .dockerignore
  Dockerfile
  Tiltfile
  hack/tilt/ui.yaml
Labels: kind/chore, area/devx, priority/normal

#1240 feat(crds/controller): let kargo render promotion mechanism use image digests
  api/v1alpha1/stage_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/controller/promotion/render.go
  internal/controller/promotion/render_test.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
Labels: kind/enhancement, priority/normal, area/controller, area/crds

#1254 fix(api): improve error messages when freight exists but is unavailable
  api/v1alpha1/freight_helpers.go
  api/v1alpha1/freight_helpers_test.go
  internal/api/promote_stage_v1alpha1.go
  internal/api/promote_stage_v1alpha1_test.go
  internal/api/promote_subscribers_v1alpha1.go
  internal/api/promote_subscribers_v1alpha1_test.go
  internal/api/server.go
  internal/api/server_test.go
  internal/controller/promotions/promotions.go
Labels: kind/bug, priority/normal, area/controller, area/api

#1162 feat(api + cli): endpoint and command for changing freight aliases
  api/service/v1alpha1/service.proto
  charts/kargo/templates/api/cluster-role.yaml
  cmd/cli/root.go
  internal/api/server.go
  internal/api/server_test.go
  internal/api/update_freight_alias_v1alpha1.go
  internal/api/update_freight_alias_v1alpha1_test.go
  internal/cli/cmd/update/freight-alias.go
  internal/cli/cmd/update/update.go
  internal/webhook/freight/webhook.go
  internal/webhook/freight/webhook_test.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/enhancement, priority/normal, area/cli, area/charts, area/api

#1283 fix(charts): permissions issue with webhooks server
  charts/kargo/templates/webhooks-server/cluster-role.yaml
Labels: kind/bug, priority/urgent, area/charts

#1288 fix: helm repo regex to allow -
  api/v1alpha1/stage_types.go
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
Labels: kind/bug, priority/normal, area/crds

#1277 feat(cli)!: update stage subcommands to make project a flagged arg instead of positional arg
  internal/cli/cmd/stage/promote.go
  internal/cli/cmd/stage/promote_subscribers.go
  internal/cli/cmd/stage/set_auto_promotion.go
Labels: kind/refactor, priority/normal, area/cli

#1296 docs: Metadata changes
  docs/docs/10-overview.md
  docs/docs/15-concepts.md
  docs/docs/20-quickstart.mdx
  docs/docs/30-how-to-guides/10-installing-kargo.md
  docs/docs/30-how-to-guides/20-managing-credentials.md
  docs/docs/40-contributor-guide/10-hacking-on-kargo.mdx
  docs/docs/40-contributor-guide/20-signing-commits.md
  docs/docs/40-contributor-guide/30-code-of-conduct.md
  docs/docs/40-contributor-guide/index.md
  docs/docs/50-roadmap.md
Labels: area/documentation, kind/chore, priority/normal

#1298 chore(dependencies): go module dependency updates
  go.mod
  go.sum
Labels: kind/chore, priority/normal, dependencies

#1301 fix(docs): error in overview page front matter
  docs/docs/10-overview.md
Labels: kind/bug, area/documentation, priority/high

#1291 feat(ui): highlight appropriate stage when hovering freight and vice versa
  ui/src/features/freightline/freight-item.tsx
  ui/src/features/freightline/freightline.module.less
  ui/src/features/project/project-details/nodes/stage-node.module.less
  ui/src/features/project/project-details/nodes/stage-node.tsx
  ui/src/features/project/project-details/project-details.tsx
Labels: kind/enhancement, area/ui, priority/normal

#1259 feat(verification): add promotion verification mechanisms based on rollouts analysis templates
  Makefile
  api/v1alpha1/labels.go
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/templates/controller/cluster-roles.yaml
  cmd/controlplane/controller.go
  internal/api/types/v1alpha1/types.go
  internal/cli/cmd/get/stages.go
  internal/controller/analysis/analysis_runs.go
  internal/controller/analysis/analysis_runs_test.go
  internal/controller/labels.go
  internal/controller/labels_test.go
  internal/controller/promotions/promotions.go
  internal/controller/rollouts/api/v1alpha1/analysis_helpers.go
  internal/controller/rollouts/api/v1alpha1/analysis_helpers_test.go
  internal/controller/rollouts/api/v1alpha1/analysis_types.go
  internal/controller/rollouts/api/v1alpha1/doc.go
  internal/controller/rollouts/api/v1alpha1/groupversion_info.go
  internal/controller/rollouts/api/v1alpha1/types.go
  internal/controller/rollouts/api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/stages/health.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
  internal/kargo/kargo.go
  internal/kargo/kargo_test.go
  internal/kubeclient/indexer.go
  internal/kubeclient/indexer_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, priority/high, area/controller, area/api, area/crds

#1309 feat(docs): replace launch webinar with GitOpsCon talk
  README.md
  docs/docs/10-overview.md
Labels: area/documentation, kind/refactor, priority/normal

#1274 feat(promo)!: support pull request promotions
  api/v1alpha1/promotion_helpers.go
  api/v1alpha1/promotion_types.go
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_promotions.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/templates/api/cluster-role.yaml
  charts/kargo/templates/controller/cluster-roles.yaml
  cmd/controlplane/controller.go
  go.mod
  go.sum
  internal/api/refresh_stage_v1alpha1.go
  internal/api/types/v1alpha1/types.go
  internal/controller/git/git.go
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/controller/promotion/composite.go
  internal/controller/promotion/composite_test.go
  internal/controller/promotion/git.go
  internal/controller/promotion/git_test.go
  internal/controller/promotion/pullrequest.go
  internal/controller/promotion/render.go
  internal/controller/promotion/render_test.go
  internal/controller/promotion/root.go
  internal/controller/promotion/root_test.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/gitprovider/github/github.go
  internal/gitprovider/gitprovider.go
  internal/gitprovider/registry.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/features/stage/promotions.tsx
  ui/src/gen/schema/promotions.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, priority/high, area/controller, area/api, area/crds

#1282 feat(api): treat sub and email fields of oidc tokens as distinct things; enable SA mappings by either
  api/v1alpha1/annotations.go
  cmd/controlplane/api.go
  internal/api/kubernetes/client.go
  internal/api/kubernetes/client_test.go
  internal/api/option/auth.go
  internal/api/option/auth_test.go
  internal/api/user/user.go
  internal/api/user/user_test.go
  internal/kubeclient/indexer.go
Labels: kind/enhancement, priority/normal, area/api

#1311 fix(controller): ensure warehouses and running promotions are routinely re-reconciled
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/controller/warehouses/warehouses.go
Labels: kind/bug, priority/high, area/controller

#1320 fix(cli): project flag not recognized for several CLI commands
  internal/cli/cmd/stage/promote.go
  internal/cli/cmd/stage/promote_subscribers.go
  internal/cli/cmd/stage/set_auto_promotion.go
Labels: kind/bug, priority/urgent, area/cli

#1321 fix(controller): fix stage getting stuck in verifying phase if no verification process is defined
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
Labels: kind/bug, priority/urgent, area/controller

#1302 feat(docs): update docs for v0.3.0
  Makefile
  docs/docs/15-concepts.md
  docs/docs/20-quickstart.mdx
  docs/docs/30-how-to-guides/10-installing-kargo.md
  docs/docs/30-how-to-guides/20-managing-credentials.md
  docs/docs/30-how-to-guides/30-managing-user-permissions.md
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
  hack/quickstart/uninstall.sh
Labels: area/documentation, kind/enhancement, do not merge yet, priority/normal

#1317 chore(dependencies): upgrade controller runtime and all things k8s
  cmd/cli/version.go
  cmd/controlplane/api.go
  cmd/controlplane/controller.go
  cmd/controlplane/webhooks.go
  go.mod
  go.sum
  internal/api/kubernetes/client.go
  internal/api/kubernetes/client_test.go
  internal/api/types/metav1/types.go
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/create/project.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/stage/promote.go
  internal/cli/cmd/stage/promote_subscribers.go
  internal/cli/cmd/stage/set_auto_promotion.go
  internal/controller/options.go
  internal/controller/promotions/promoqueues_test.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/controller/promotions/watches.go
  internal/controller/stages/stages.go
  internal/controller/stages/verification_test.go
  internal/controller/stages/watches.go
  internal/gitprovider/github/github.go
  internal/webhook/freight/webhook.go
  internal/webhook/freight/webhook_test.go
  internal/webhook/promotion/webhook.go
  internal/webhook/promotion/webhook_test.go
  internal/webhook/promotionpolicy/webhook.go
  internal/webhook/promotionpolicy/webhook_test.go
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
Labels: kind/chore, priority/normal, area/webhooks, area/controller, area/cli, area/api

#1315 fix(controller): when updating a values.yaml, make sure image tags that look like a number are still treated as strings
  internal/controller/promotion/helm.go
  internal/controller/promotion/helm_test.go
Labels: kind/bug, priority/normal, area/controller

#1171 feat(ui): Refresh token exchange
  ui/src/app.tsx
  ui/src/config/auth.ts
  ui/src/config/paths.ts
  ui/src/config/transport.ts
  ui/src/features/auth/context/auth-context-provider.tsx
  ui/src/features/auth/context/auth-context.tsx
  ui/src/features/auth/oidc-login.tsx
  ui/src/features/auth/protected-route.tsx
  ui/src/features/auth/token-renew.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/stage/promotions.tsx
Labels: kind/enhancement, area/ui, priority/normal

#1316 fix(ui): hovering on a DAG node would highlight other nodes with same freight
  internal/cli/cmd/stage/promote.go
  internal/cli/cmd/stage/promote_subscribers.go
  internal/cli/cmd/stage/set_auto_promotion.go
  ui/src/features/project/project-details/project-details.tsx
Labels: kind/bug, area/ui, priority/normal

#1325 chore(docs): update roadmap
  docs/docs/50-roadmap.md
Labels: area/documentation, kind/chore, priority/high

#1326 fix(docs): fix typo on concepts page
  docs/docs/15-concepts.md
Labels: kind/bug, area/documentation, priority/high
