Repository akuity/kargo, pull requests merged in 2024-04, with the labels that each got.

#1725 feat(ui): Analysis Templates
  ui/src/app.tsx
  ui/src/config/paths.ts
  ui/src/features/common/code-editor/yaml-editor-lazy.tsx
  ui/src/features/project/analysis-templates/analysis-templates-list.tsx
  ui/src/features/project/analysis-templates/create-analysis-template-modal.tsx
  ui/src/features/project/analysis-templates/utils/analysis-template-example.ts
  ui/src/features/project/credentials/credentials-list.tsx
  ui/src/pages/project.tsx
Labels: kind/enhancement, area/ui, priority/normal

#1729 fix: add indicator to Argo CD deep links
  ui/src/features/stage/stage-actions.tsx
Labels: kind/enhancement, area/ui, priority/normal, size/tiny

#1730 fix: support helm in freightline
  ui/src/features/freightline/freight-contents.tsx
Labels: kind/bug, kind/enhancement, area/ui, priority/normal

#1732 feat(ui): Move the Create Stage/Warehouse button
  ui/src/features/project/project-details/project-details.tsx
  ui/src/pages/project.tsx
Labels: kind/enhancement, area/ui, priority/normal

#1737 chore: release chores 0.4
  docs/docs/20-quickstart.mdx
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: kind/chore, priority/high, docker

#1735 chore(docs): roadmap updates
  docs/docs/50-roadmap.md
Labels: area/documentation, kind/chore, priority/normal

#1683 feat: add v0.4.x --> v0.5.x upgrade reconcilers
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/helpers.go
  api/v1alpha1/labels.go
  api/v1alpha1/stage_types.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  charts/kargo/templates/controller/cluster-roles.yaml
  charts/kargo/templates/management-controller/cluster-roles.yaml
  cmd/controlplane/controller.go
  cmd/controlplane/management_controller.go
  go.mod
  internal/controller/management/upgrade/credentials.go
  internal/controller/management/upgrade/credentials_test.go
  internal/controller/management/upgrade/freight.go
  internal/controller/stages/stages.go
  internal/controller/stages/upgrade.go
  internal/controller/warehouses/upgrade.go
  internal/controller/warehouses/warehouses.go
  internal/webhook/freight/webhook.go
  internal/webhook/freight/webhook_test.go
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/high, priority/normal, area/webhooks, area/controller, area/ux, area/crds

#1740 chore: v0.5.0 release chores
  docs/docs/20-quickstart.mdx
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: area/documentation, kind/chore, priority/normal

#1743 fix(docs): minor fixes to the quickstart
  docs/docs/20-quickstart.mdx
Labels: kind/bug, area/documentation, priority/high

#1744 feat: surface warehouse reconciliation errors in DAG -- release-0.5 edition
  ui/src/features/common/freight-label.tsx
  ui/src/features/common/utils.ts
  ui/src/features/freightline/freight-item.tsx
  ui/src/features/project/project-details/nodes/repo-node.module.less
  ui/src/features/project/project-details/nodes/repo-node.tsx
  ui/src/features/project/project-details/nodes/stage-node.module.less
  ui/src/features/project/project-details/nodes/stage-node.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/project/project-details/types.ts
  ui/src/features/project/project-details/update-freight-alias-modal.tsx
Labels: kind/enhancement, area/ui, priority/normal

#1741 feat(ui): Individual freight view
  ui/src/app.tsx
  ui/src/config/paths.ts
  ui/src/features/common/manifest-preview.tsx
  ui/src/features/freight/freight-details.tsx
  ui/src/features/freight/freight-status-list.tsx
  ui/src/features/freightline/freight-item.tsx
  ui/src/features/freightline/freightline-header.tsx
  ui/src/features/freightline/stage-indicators.tsx
  ui/src/features/project/project-details/images.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/stage/manifest-preview.tsx
  ui/src/features/stage/stage-details.tsx
  ui/src/features/stage/utils/index.ts
Labels: kind/enhancement, area/ui, priority/normal

#1745 fix(docs): minor fixes to the quickstart -- release-0.5 edition
  docs/docs/20-quickstart.mdx
Labels: kind/bug, area/documentation, priority/normal

#1746 feat(ui): Individual freight view -- release-0.5 edition
  ui/src/app.tsx
  ui/src/config/paths.ts
  ui/src/features/common/manifest-preview.tsx
  ui/src/features/freight/freight-details.tsx
  ui/src/features/freight/freight-status-list.tsx
  ui/src/features/freightline/freight-item.tsx
  ui/src/features/freightline/freightline-header.tsx
  ui/src/features/freightline/stage-indicators.tsx
  ui/src/features/project/project-details/images.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/stage/manifest-preview.tsx
  ui/src/features/stage/stage-details.tsx
  ui/src/features/stage/utils/index.ts
Labels: kind/enhancement, area/ui, priority/normal

#1747 chore: update scripts and quickstart for v0.5.0-rc.3
  docs/docs/20-quickstart.mdx
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: area/documentation, kind/chore, priority/normal

#1754 fix(ui): broken colors in image view
  ui/src/features/project/project-details/images.tsx
Labels: kind/bug, area/ui, priority/high

#1752 fix(ui): could not click dropdown without also opening freight view
  ui/src/features/project/project-details/project-details.tsx
Labels: kind/bug, area/ui, priority/high

#1759 fix(cli): don't panic on promote stage subscribers failure
  internal/cli/cmd/promote/promote.go
Labels: kind/bug, priority/normal, area/cli

#1760 refactor(ui): minor tab/layout tweaks
  ui/src/features/freightline/freight-item.tsx
  ui/src/features/freightline/freightline-header.tsx
  ui/src/features/project/analysis-templates/analysis-templates-list.tsx
  ui/src/features/project/credentials/credentials-list.tsx
  ui/src/features/project/pipelines/create-stage-modal.tsx
  ui/src/features/project/pipelines/create-warehouse-modal.tsx
  ui/src/features/project/pipelines/images.tsx
  ui/src/features/project/pipelines/nodes/repo-node.module.less
  ui/src/features/project/pipelines/nodes/repo-node.tsx
  ui/src/features/project/pipelines/nodes/stage-node.module.less
  ui/src/features/project/pipelines/nodes/stage-node.tsx
  ui/src/features/project/pipelines/pipelines.tsx
  ui/src/features/project/pipelines/project-details.module.less
  ui/src/features/project/pipelines/types.ts
  ui/src/features/project/pipelines/update-freight-alias-modal.tsx
  ui/src/features/project/pipelines/utils/stage-yaml-example.ts
  ui/src/features/project/pipelines/utils/warehouse-yaml-example.ts
  ui/src/features/stage/edit-stage-modal.tsx
  ui/src/pages/project.tsx
Labels: kind/refactor, area/ui, priority/high

#1763 chore: revert #1747 and #1740
  docs/docs/20-quickstart.mdx
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: area/documentation, kind/chore, priority/normal

#1727 feat(ui): extend IntOrString to support JsonValue
  ui/hack/generate-proto-extensions.mjs
  ui/src/gen/k8s.io/apimachinery/pkg/util/intstr/generated_pb.ts
  ui/tests/api/apimachinery.spec.ts
Labels: kind/enhancement, area/ui, priority/normal

#1777 feat(cli): add --no-headers flag to all get commands.
  internal/cli/cmd/get/credentials.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/get/projects.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
  internal/cli/option/flag.go
Labels: kind/enhancement, priority/normal, area/cli

#1748 feat: add lastPromotion field to Stage status
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  internal/controller/promotions/promotions.go
  internal/controller/rollouts/api/v1alpha1/analysis_types.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/controller, area/crds

#1781 feat(ui): AnalysisRun Preview
  ui/src/features/stage/analysis-run-modal.tsx
  ui/src/features/stage/verifications.tsx
Labels: kind/enhancement, area/ui, priority/normal

#1779 feat(cli): add --no-header option to applicable cli usage text
  internal/cli/cmd/get/credentials.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/projects.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
Labels: kind/enhancement, priority/normal, area/cli

#1780 feat(ui): AnalysisTemplate Preview
  ui/src/features/project/analysis-templates/analysis-templates-list.tsx
  ui/src/features/project/analysis-templates/preview-analysis-template-modal.tsx
Labels: kind/enhancement, area/ui, priority/normal

#1784 fix(ui): when serializing resources as json, interpret zero value timestamps as undefined
  ui/hack/generate-proto-extensions.mjs
  ui/src/gen/k8s.io/apimachinery/pkg/apis/meta/v1/generated_pb.ts
Labels: kind/bug, area/ui, priority/urgent

#1782 feat: backport analysistemplate and analysisrun views to release-0.5
  ui/hack/generate-proto-extensions.mjs
  ui/src/features/project/analysis-templates/analysis-templates-list.tsx
  ui/src/features/project/analysis-templates/preview-analysis-template-modal.tsx
  ui/src/features/stage/analysis-run-modal.tsx
  ui/src/features/stage/verifications.tsx
  ui/src/gen/k8s.io/apimachinery/pkg/apis/meta/v1/generated_pb.ts
Labels: kind/enhancement, area/ui, priority/high

#1798 fix(chart): add AnalysisRun permissions for users
  charts/kargo/templates/users/cluster-roles.yaml
Labels: kind/bug, area/security, area/charts, area/api

#1796 fix: change placement of freightline tooltips
  ui/src/features/common/freight-label.tsx
Labels: kind/bug, area/ui, priority/high

#1794 fix(ui): provide initialization value to `metav1.Time` properties
  ui/hack/generate-proto-extensions.mjs
  ui/src/gen/k8s.io/apimachinery/pkg/apis/meta/v1/generated_pb.ts
  ui/tests/api/apimachinery.spec.ts
Labels: kind/bug, kind/refactor, area/ui, priority/normal, area/test

#1799 feat: display version in UI
  ui/src/features/common/layout/main-layout.module.less
  ui/src/features/common/layout/main-layout.tsx
  ui/src/vite-env.d.ts
  ui/tests/api/apimachinery.spec.ts
  ui/vite.config.ts
Labels: kind/enhancement, area/ui, priority/high

#1801 chore: backport recent prs to release-0.5
  charts/kargo/templates/users/cluster-roles.yaml
  ui/src/features/common/freight-label.tsx
  ui/src/features/common/layout/main-layout.module.less
  ui/src/features/common/layout/main-layout.tsx
  ui/src/features/project/pipelines/nodes/repo-node.module.less
  ui/src/features/project/pipelines/nodes/repo-node.tsx
  ui/src/vite-env.d.ts
  ui/tests/api/apimachinery.spec.ts
  ui/vite.config.ts
Labels: kind/chore, area/ui, area/charts

#1803 fix: pass version info to UI during build -- release-0.5 edition
  Dockerfile
Labels: kind/bug, kind/chore, area/ui, priority/normal

#1658 refactor(controller): restructure controlplane commands
  cmd/controlplane/api.go
  cmd/controlplane/controller.go
  cmd/controlplane/garbage_collector.go
  cmd/controlplane/management_controller.go
  cmd/controlplane/version.go
  cmd/controlplane/webhooks.go
Labels: kind/refactor, priority/normal, area/controller

#1650 feat(verification): improve transient error handling
  api/v1alpha1/stage_types.go
  api/v1alpha1/stage_types_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
  internal/kubeclient/errors.go
  internal/kubeclient/errors_test.go
Labels: kind/enhancement, priority/normal, area/controller

#1739 feat: emit Kubernetes events on Kargo events
  api/v1alpha1/annotations.go
  api/v1alpha1/event.go
  charts/kargo/README.md
  charts/kargo/templates/_helpers.tpl
  charts/kargo/templates/api/cluster-role.yaml
  charts/kargo/templates/controller/cluster-roles.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
  charts/kargo/templates/webhooks-server/configmap.yaml
  charts/kargo/templates/webhooks/webhooks.yaml
  charts/kargo/values.yaml
  cmd/controlplane/api.go
  cmd/controlplane/controller.go
  cmd/controlplane/webhooks.go
  go.mod
  go.sum
  internal/api/approve_freight_v1alpha1.go
  internal/api/approve_freight_v1alpha1_test.go
  internal/api/promote_to_stage_subscribers_v1alpha1.go
  internal/api/promote_to_stage_subscribers_v1alpha1_test.go
  internal/api/promote_to_stage_v1alpha1.go
  internal/api/promote_to_stage_v1alpha1_test.go
  internal/api/server.go
  internal/api/server_test.go
  internal/cli/cmd/server/server.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/kubeclient/fake/event.go
  internal/webhook/admission.go
  internal/webhook/admission_test.go
  internal/webhook/config.go
  internal/webhook/config_test.go
  internal/webhook/freight/webhook.go
  internal/webhook/freight/webhook_test.go
  internal/webhook/promotion/webhook.go
  internal/webhook/promotion/webhook_test.go
Labels: kind/enhancement, priority/normal, area/controller, area/api

#1809 chore(deps): bump golang to 1.22 (everywhere)
  .golangci.yaml
  go.mod
Labels: kind/chore, priority/normal, dependencies, go

#1811 chore(deps): bump golangci-lint to 1.57.2
  .github/workflows/ci.yaml
  .golangci.yaml
  Dockerfile.dev
Labels: kind/chore, priority/normal, dependencies

#1651 feat: added gitlab gitprovider
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  go.mod
  go.sum
  internal/controller/promotion/pullrequest.go
  internal/gitprovider/github/github.go
  internal/gitprovider/gitlab/gitlab.go
  internal/gitprovider/gitlab/gitlab_test.go
  internal/gitprovider/gitprovider.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/controller, area/crds

#1812 fix(api): order Promotions by creation timestamp
  internal/api/list_promotions_v1alpha1.go
  internal/api/list_promotions_v1alpha1_test.go
Labels: priority/normal, area/api

#1772 feat(cli/api/ui): add a description to credentials
  api/service/v1alpha1/service.proto
  api/v1alpha1/annotations.go
  internal/api/create_credentials_v1alpha1.go
  internal/api/get_credentials_v1alpha1.go
  internal/api/update_credentials_v1alpha1.go
  internal/api/update_credentials_v1alpha1_test.go
  internal/cli/cmd/create/credentials.go
  internal/cli/cmd/update/credentials.go
  internal/cli/option/flag.go
  pkg/api/service/v1alpha1/service.pb.go
  ui/src/features/common/utils.ts
  ui/src/features/project/credentials/create-credentials-modal.tsx
  ui/src/features/project/credentials/credentials-list.tsx
  ui/src/features/project/credentials/utils.tsx
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/enhancement, area/ui, priority/normal, area/cli, area/api

#1807 refactor(controller): improve Argo CD Application health check by taking conditions into account
  internal/argocd/health.go
  internal/argocd/health_test.go
  internal/controller/argocd/api/v1alpha1/application_types.go
  internal/controller/argocd/api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/stages/health.go
  internal/controller/stages/health_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
Labels: kind/bug, kind/refactor, area/controller

#1816 docs: quote uname-arch
  docs/docs/20-quickstart.mdx
Labels: area/documentation, kind/refactor, priority/normal

#1819 fix(controller): record event only when freight verification is performed
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
Labels: kind/bug, priority/normal, area/controller

#1820 fix: pass environment variables to sub processes
  internal/controller/git/git.go
  internal/helm/helm.go
  internal/kustomize/kustomize.go
Labels: kind/bug, priority/normal, area/controller

#1821 feat: inject reconcile target details to Promotion controller logger
  internal/controller/promotions/promotions.go
Labels: kind/bug, priority/normal, area/controller, size/tiny

#1823 fix: errant logic for determining colors for images table
  ui/src/features/project/pipelines/images.tsx
Labels: kind/bug, area/ui, priority/normal

#1829 refactor(controller): do not short-circuit re-promotion to current freight
  internal/controller/promotions/promotions.go
Labels: kind/refactor, priority/high, area/controller

#1828 feat: add current Promotion name to AnalysisRun label
  api/v1alpha1/labels.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
Labels: kind/enhancement, priority/normal, area/usability

#1835 fix(devx): Disable vcs stamping when running in docker container.
  Makefile
Labels: kind/bug, priority/normal, area/ux

#1832 feat(chart): allow volume(mount)s on Dex server
  charts/kargo/README.md
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, priority/normal, area/charts

#1824 feat: track actor who triggered reverification
  api/v1alpha1/annotations.go
  api/v1alpha1/helpers.go
  api/v1alpha1/helpers_test.go
  api/v1alpha1/stage_helpers.go
  cmd/controlplane/webhooks.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
Labels: kind/enhancement, priority/normal, area/controller, area/api

#1815 feat: add event details to track DORA metrics
  api/v1alpha1/annotations.go
  api/v1alpha1/event.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  internal/api/promote_to_stage_v1alpha1.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/controller/rollouts/api/v1alpha1/analysis_types.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
  internal/webhook/promotion/webhook.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/controller, area/api, area/crds

#1850 feat: factor git tag into freight ids
  api/v1alpha1/freight_types.go
Labels: kind/enhancement, priority/normal, area/crds

#1842 feat: ensure Promotion's Stage has promo mechanism
  internal/api/promote_to_stage_subscribers_v1alpha1.go
  internal/api/promote_to_stage_subscribers_v1alpha1_test.go
  internal/webhook/promotion/webhook.go
  internal/webhook/promotion/webhook_test.go
Labels: kind/enhancement, priority/normal, area/webhooks

#1859 fix: create a new Event on every correlated event
  cmd/controlplane/api.go
  cmd/controlplane/webhooks.go
  internal/api/approve_freight_v1alpha1_test.go
  internal/api/promote_to_stage_subscribers_v1alpha1_test.go
  internal/api/promote_to_stage_v1alpha1_test.go
  internal/api/server_test.go
  internal/cli/cmd/server/server.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/kubernetes/event/event.go
  internal/kubernetes/event/event_test.go
  internal/kubernetes/event/fake/event.go
  internal/webhook/freight/webhook.go
  internal/webhook/freight/webhook_test.go
  internal/webhook/promotion/webhook.go
  internal/webhook/promotion/webhook_test.go
Labels: kind/bug, priority/normal, area/controller, area/api

#1861 fix(ui): correctly display AnalysisRun YAML
  ui/src/features/stage/analysis-run-modal.tsx
Labels: kind/bug, area/ui, priority/normal

#1778 feat(controller): support filtering Git subscriptions using globs and path prefixes
  api/v1alpha1/generated.proto
  api/v1alpha1/warehouse_types.go
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/controller

#1854 fix: rewrite and test git url normalization logic
  internal/argocd/health.go
  internal/controller/promotion/argocd.go
  internal/controller/promotion/git.go
  internal/controller/warehouses/images.go
  internal/credentials/credentials.go
  internal/git/git.go
  internal/git/git_test.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
Labels: kind/bug, priority/high, area/controller

#1833 refactor: embed ui assets in binaries
  .github/workflows/release.yaml
  Dockerfile
  Makefile
  internal/api/config/config.go
  internal/api/server.go
  internal/api/ui/.keep
  ui/package.json
Labels: area/release-process, kind/refactor, area/ui, priority/normal, area/cli, area/api

#1856 refactor(controller): rework annotation mechanics
  api/v1alpha1/annotations.go
  api/v1alpha1/annotations_test.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/promotion_types.go
  api/v1alpha1/stage_helpers.go
  api/v1alpha1/stage_helpers_test.go
  api/v1alpha1/stage_types.go
  api/v1alpha1/stage_types_test.go
  api/v1alpha1/warehouse_types.go
  charts/kargo/resources/crds/kargo.akuity.io_promotions.yaml
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  internal/cli/cmd/refresh/stage.go
  internal/cli/cmd/refresh/warehouse.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
  internal/controller/warehouses/warehouses.go
  internal/kargo/kargo.go
  internal/kargo/kargo_test.go
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
  ui/src/features/project/pipelines/pipelines.tsx
  ui/src/features/project/pipelines/types.ts
  ui/src/features/stage/stage-actions.tsx
  ui/src/gen/schema/promotions.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, kind/refactor, priority/normal, area/controller, area/api

#1865 refactor: use normalized URLs in constructing freight id
  api/v1alpha1/freight_types.go
  internal/git/git_test.go
Labels: kind/refactor, priority/normal, area/crds

#1864 fix: backport #1854 git url normalization logic to release-0.5
  internal/controller/promotion/argocd.go
  internal/controller/promotion/git.go
  internal/controller/stages/health.go
  internal/controller/warehouses/images.go
  internal/credentials/credentials.go
  internal/git/git.go
  internal/git/git_test.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
  ui/package.json
Labels: kind/bug, priority/normal, area/controller

#1863 fix(ui): use YAML response option for AnalysisRun
  ui/src/features/stage/analysis-run-modal.tsx
Labels: kind/bug, area/ui, priority/normal

#1843 feat(controller/charts): support optional commit signing
  Dockerfile
  charts/kargo/README.md
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/values.yaml
  internal/controller/git/git.go
  internal/controller/promotion/git.go
  internal/controller/promotion/git_test.go
  internal/controller/warehouses/git.go
Labels: kind/enhancement, area/security, priority/normal, area/controller, area/charts

#1804 fix: images table did not load intermittently
  ui/src/features/project/pipelines/images.tsx
Labels: kind/bug, area/ui, priority/normal

#1873 docs: Document new includePaths and excludePaths options
  api/v1alpha1/generated.proto
  api/v1alpha1/warehouse_types.go
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  docs/docs/15-concepts.md
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: area/documentation, priority/normal, kind/feature-request

#1872 feat: set promotion actor to the annotation
  api/v1alpha1/annotations.go
  api/v1alpha1/event.go
  internal/api/promote_to_stage_subscribers_v1alpha1.go
  internal/api/promote_to_stage_v1alpha1.go
  internal/controller/stages/stages.go
  internal/kargo/kargo.go
  internal/kargo/kargo_test.go
  internal/webhook/promotion/webhook.go
  internal/webhook/promotion/webhook_test.go
Labels: kind/enhancement, priority/normal, area/webhooks, area/controller, area/api

#1877 feat(chart): Added annotation: to api.service and default api.service.annotations value to values.yaml
  charts/kargo/README.md
  charts/kargo/templates/api/service.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, priority/normal, area/charts

#1874 feat(chart): Add optional env and envFrom parameters for all deployments and cronjobs
  charts/kargo/README.md
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/garbage-collector/cron-job.yaml
  charts/kargo/templates/management-controller/deployment.yaml
  charts/kargo/templates/webhooks-server/deployment.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, priority/normal, area/charts

#1878 fix(api): allow ui refresh to deep links
  internal/api/server.go
Labels: kind/bug, area/ui, priority/high, area/api

#1753 feat(controller): wait for Application operation to finish before marking Promotion as successful
  internal/argocd/health.go
  internal/argocd/revision.go
  internal/argocd/revision_test.go
  internal/argocd/sort.go
  internal/argocd/sort_test.go
  internal/controller/argocd/api/v1alpha1/application_types.go
  internal/controller/argocd/api/v1alpha1/gitops_engine.go
  internal/controller/argocd/api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/controller/promotions/predicates.go
  internal/controller/promotions/predicates_test.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/watches.go
  internal/controller/promotions/watches_test.go
  internal/kubeclient/indexer.go
  internal/kubeclient/indexer_test.go
Labels: kind/refactor, priority/normal, area/controller, kind/feature-request

#1879 chore(controller): extend unit tests for path filtering of Warehouse Git subscription
  internal/controller/warehouses/git_test.go
Labels: kind/chore, priority/normal, area/controller

#1882 chore(api): tidy various bits
  api/v1alpha1/annotations.go
  api/v1alpha1/event.go
  api/v1alpha1/freight_helpers.go
  api/v1alpha1/freight_types.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/project_types.go
  api/v1alpha1/promotion_types.go
  api/v1alpha1/stage_types.go
  api/v1alpha1/warehouse_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  internal/api/promote_to_stage_subscribers_v1alpha1.go
  internal/api/promote_to_stage_subscribers_v1alpha1_test.go
  internal/api/promote_to_stage_v1alpha1_test.go
  internal/api/query_freights_v1alpha1.go
  internal/api/query_freights_v1alpha1_test.go
  internal/controller/promotion/argocd_test.go
  internal/controller/promotion/composite_test.go
  internal/controller/promotion/git_test.go
  internal/controller/promotions/promoqueues.go
  internal/controller/promotions/promoqueues_test.go
  internal/controller/promotions/promotions_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification_test.go
  internal/controller/warehouses/warehouses_test.go
  internal/kargo/kargo.go
  internal/kubeclient/indexer.go
  internal/kubeclient/indexer_test.go
  internal/webhook/promotion/webhook.go
  internal/webhook/promotion/webhook_test.go
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/chore, priority/normal, area/api

#1886 chore: fix typo in comment (ODIC -> OIDC)
  cmd/controlplane/api.go
Labels: area/documentation, kind/chore, priority/low

#1871 feat: display events in UI
  api/service/v1alpha1/service.proto
  charts/kargo/templates/api/cluster-role.yaml
  cmd/controlplane/api.go
  internal/api/list_project_events_v1alpha1.go
  internal/kubeclient/indexer.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/app.tsx
  ui/src/config/paths.ts
  ui/src/features/project/events/events.tsx
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
  ui/src/pages/project.tsx
Labels: kind/enhancement, area/ui, priority/normal, area/api

#1892 chore(deps): remove Masterminds/semver@v1.5.0
  go.mod
  go.sum
  internal/api/query_freights_v1alpha1.go
  internal/controller/warehouses/git.go
  internal/helm/helm.go
  internal/image/selector_docker_hub_test.go
  internal/image/selector_ghcr_test.go
  internal/webhook/warehouse/webhook.go
Labels: kind/chore, priority/normal, area/controller, area/api

#1893 fix(build): pin pnpm version and update to 9.0.3
  Dockerfile
  Dockerfile.dev
  ui/package.json
Labels: kind/chore, area/ci-process, priority/high, dependencies

#1889 chore(deps): github.com/xanzy/go-gitlab to 0.103.0
  go.mod
  go.sum
Labels: kind/chore, dependencies, go

#1890 feat(cli): add `--wait` for `kargo promote`
  internal/cli/cmd/promote/promote.go
Labels: kind/enhancement, priority/normal, area/cli

#1895 chore: minor test cleanup
  internal/api/dex/proxy_test.go
  internal/api/kubernetes/client_test.go
  internal/api/query_freights_v1alpha1_test.go
  internal/api/update_freight_alias_v1alpha1_test.go
  internal/cli/config/config_test.go
  internal/controller/management/namespaces/namespaces_test.go
  internal/controller/management/projects/projects_test.go
  internal/controller/promotion/argocd_test.go
  internal/controller/promotion/composite_test.go
  internal/controller/promotion/git_test.go
  internal/controller/promotion/helm_test.go
  internal/controller/promotion/kustomize_test.go
  internal/controller/promotion/render_test.go
  internal/controller/stages/stages_test.go
  internal/controller/warehouses/git_test.go
  internal/controller/warehouses/helm_test.go
  internal/controller/warehouses/images_test.go
  internal/controller/warehouses/warehouses_test.go
  internal/exec/exec_test.go
  internal/garbage/collector_test.go
  internal/garbage/freight_test.go
  internal/garbage/projects_test.go
  internal/garbage/promotions_test.go
  internal/helm/helm_test.go
  internal/image/platform_constraint_test.go
  internal/image/repository_client_test.go
  internal/image/selector_test.go
  internal/image/semver_selector_test.go
  internal/webhook/freight/webhook_test.go
  internal/webhook/promotion/webhook_test.go
  internal/yaml/yaml_test.go
Labels: kind/chore, priority/normal

#1897 chore(api): remove redundant setter from Promotion
  api/v1alpha1/promotion_types.go
  internal/controller/promotions/promotions.go
Labels: kind/chore, priority/normal, area/api

#1903 fix(api): use Unstructured to return raw response
  internal/api/get_analysisrun_v1alpha1.go
  internal/api/get_analysisrun_v1alpha1_test.go
  internal/api/get_analysistemplate_v1alpha1.go
  internal/api/get_analysistemplate_v1alpha1_test.go
  internal/api/get_freight_v1alpha1.go
  internal/api/get_freight_v1alpha1_test.go
  internal/api/get_project_v1alpha1.go
  internal/api/get_project_v1alpha1_test.go
  internal/api/get_promotion_v1alpha1.go
  internal/api/get_promotion_v1alpha1_test.go
  internal/api/get_stage_v1alpha1.go
  internal/api/get_stage_v1alpha1_test.go
  internal/api/get_warehouse_v1alpha1.go
  internal/api/get_warehouse_v1alpha1_test.go
Labels: kind/bug, priority/normal, area/api

#1906 feat!: add "Kargo Role" management endpoints and cli commands
  Tiltfile
  api/service/v1alpha1/service.proto
  api/v1alpha1/annotations.go
  api/v1alpha1/labels.go
  charts/kargo/templates/api/cluster-role.yaml
  charts/kargo/templates/management-controller/cluster-roles.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
  cmd/cli/root.go
  cmd/controlplane/api.go
  internal/api/create_role_v1alpha1.go
  internal/api/delete_role_v1alpha1.go
  internal/api/get_role_v1alpha1.go
  internal/api/grant_v1alpha1.go
  internal/api/list_roles_v1alpha1.go
  internal/api/rbac/policy_rules.go
  internal/api/rbac/policy_rules_test.go
  internal/api/rbac/roles.go
  internal/api/rbac/roles_test.go
  internal/api/revoke_v1alpha1.go
  internal/api/server.go
  internal/api/server_test.go
  internal/api/update_role_v1alpha1.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/create/role.go
  internal/cli/cmd/delete/delete.go
  internal/cli/cmd/delete/role.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/get/roles.go
  internal/cli/cmd/grant/grant.go
  internal/cli/cmd/revoke/revoke.go
  internal/cli/cmd/server/server.go
  internal/cli/option/flag.go
  internal/cli/rbac/role.go
  internal/controller/management/projects/projects.go
  internal/webhook/project/webhook.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/k8s.io/api/rbac/v1/generated_pb.ts
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/enhancement, priority/high, area/cli, area/api

#1907 fix(chart): add Event permissions for users
  charts/kargo/templates/users/cluster-roles.yaml
Labels: kind/bug, priority/normal, area/charts

#1908 fix(cli): use stdout config from cmd in helpers
  internal/cli/option/option.go
Labels: kind/chore, priority/low, area/cli

#1909 refactor: small bit of cleanup after role mgmt feature
  internal/controller/management/projects/projects.go
  internal/controller/management/projects/projects_test.go
  internal/webhook/project/webhook.go
  internal/webhook/project/webhook_test.go
Labels: kind/refactor, priority/high, area/webhooks, area/controller

#1910 refactor: logging and comments follow up on role mgmt feature
  internal/controller/management/projects/projects.go
  internal/webhook/project/webhook.go
Labels: kind/refactor, area/webhooks, area/controller

#1911 refactor: test follow-ups on role mgmt feature
  internal/controller/management/projects/projects_test.go
  internal/webhook/project/webhook_test.go
Labels: kind/refactor, priority/normal, area/webhooks, area/controller
