Repository akuity/kargo, pull requests merged in 2024-01, with the labels that each got.

#1345 fix(cli): handle CLI config file not found error
  cmd/cli/main.go
  internal/cli/client/client.go
  internal/cli/cmd/config/set.go
  internal/cli/cmd/config/unset.go
  internal/cli/cmd/create/project.go
  internal/cli/cmd/delete/project.go
  internal/cli/cmd/delete/stage.go
  internal/cli/cmd/delete/warehouse.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/projects.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
  internal/cli/cmd/update/freight-alias.go
  internal/cli/config/config.go
  internal/cli/config/errors.go
Labels: kind/bug, priority/urgent, area/cli

#1347 fix(cli): handle CLI config file not found error (#1345)
  cmd/cli/main.go
  internal/cli/client/client.go
  internal/cli/cmd/config/set.go
  internal/cli/cmd/config/unset.go
  internal/cli/cmd/create/project.go
  internal/cli/cmd/delete/project.go
  internal/cli/cmd/delete/stage.go
  internal/cli/cmd/delete/warehouse.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/projects.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
  internal/cli/cmd/update/freight-alias.go
  internal/cli/config/config.go
  internal/cli/config/errors.go
Labels: kind/bug, priority/urgent, area/cli

#1364 fix: configuring kubernetesDatabaseConfig with env vars
  internal/credentials/credentials.go
  internal/credentials/credentials_options.go
  internal/credentials/credentials_test.go
Labels: kind/bug, priority/normal, area/controller

#1362 chore: Update to kargo-render v0.1.0-rc34
  Dockerfile
Labels: kind/chore, priority/normal

#1349 docs: document freight-related features from v0.3.0
  docs/docs/30-how-to-guides/15-working-with-freight.md
Labels: area/documentation, kind/enhancement, priority/normal

#1365 feat(controller): use optional third kubeconfig for rollouts kube client
  charts/kargo/README.md
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/values.yaml
  cmd/controlplane/controller.go
Labels: kind/enhancement, priority/normal, area/controller, area/charts

#1372 refactor(crds): rename SimpleFreight to FreightReference
  api/v1alpha1/stage_types.go
  api/v1alpha1/stage_types_test.go
  api/v1alpha1/types.proto
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/api/types/v1alpha1/types.go
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/controller/promotion/composite.go
  internal/controller/promotion/composite_test.go
  internal/controller/promotion/git.go
  internal/controller/promotion/git_test.go
  internal/controller/promotion/helm.go
  internal/controller/promotion/helm_test.go
  internal/controller/promotion/kustomize.go
  internal/controller/promotion/kustomize_test.go
  internal/controller/promotion/render.go
  internal/controller/promotion/render_test.go
  internal/controller/promotion/root.go
  internal/controller/promotion/root_test.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/health.go
  internal/controller/stages/health_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification_test.go
  internal/kubeclient/indexer_test.go
  internal/webhook/freight/webhook_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/refactor, priority/normal, area/controller, area/api, area/crds

#1356 feat(cli): add logout command
  cmd/cli/root.go
  internal/cli/cmd/logout/logout.go
Labels: kind/enhancement, priority/normal, area/cli, area/ux

#1366 feat(controller): support git repos with self-signed cert
  api/v1alpha1/stage_types.go
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  internal/controller/git/git.go
  internal/controller/promotion/git.go
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
  internal/controller/warehouses/warehouses.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
Labels: kind/enhancement, priority/normal, area/controller, area/crds

#1374 fix(docs): remove superfluous detail from quickstart
  docs/docs/20-quickstart.mdx
Labels: kind/bug, area/documentation, priority/normal

#1351 refactor(cli): flag cleanup
  cmd/cli/root.go
  go.mod
  go.sum
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/delete/delete.go
  internal/cli/cmd/delete/project.go
  internal/cli/cmd/delete/stage.go
  internal/cli/cmd/delete/warehouse.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
  internal/cli/cmd/login/login.go
  internal/cli/cmd/refresh/refresh.go
  internal/cli/cmd/refresh/stage.go
  internal/cli/cmd/refresh/warehouse.go
  internal/cli/cmd/stage/promote.go
  internal/cli/cmd/stage/promote_subscribers.go
  internal/cli/cmd/stage/set_auto_promotion.go
  internal/cli/cmd/update/freight-alias.go
  internal/cli/option/flag.go
  internal/cli/option/types.go
Labels: kind/refactor, priority/normal, area/cli

#1350 refactor(cli): don't load config twice for commands that use a client
  cmd/cli/main.go
  cmd/cli/root.go
  cmd/cli/version.go
  internal/cli/client/client.go
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/config/config.go
  internal/cli/cmd/config/set.go
  internal/cli/cmd/config/unset.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/create/project.go
  internal/cli/cmd/delete/delete.go
  internal/cli/cmd/delete/project.go
  internal/cli/cmd/delete/stage.go
  internal/cli/cmd/delete/warehouse.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/get/projects.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
  internal/cli/cmd/refresh/refresh.go
  internal/cli/cmd/refresh/stage.go
  internal/cli/cmd/refresh/warehouse.go
  internal/cli/cmd/stage/promote.go
  internal/cli/cmd/stage/promote_subscribers.go
  internal/cli/cmd/stage/set_auto_promotion.go
  internal/cli/cmd/stage/stage.go
  internal/cli/cmd/update/freight-alias.go
  internal/cli/cmd/update/update.go
Labels: kind/refactor, priority/normal, area/cli

#1358 feat(cli): add command for manually approving freight for a stage
  cmd/cli/root.go
  internal/cli/cmd/approve/approve.go
Labels: kind/enhancement, priority/normal, area/cli

#1360 refactor(cli): restrict common flags to subcommands branches where they're applicable
  cmd/cli/root.go
  cmd/cli/version.go
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/delete/delete.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/login/login.go
  internal/cli/cmd/refresh/refresh.go
  internal/cli/cmd/stage/stage.go
  internal/cli/cmd/update/update.go
Labels: kind/refactor, priority/normal, area/cli, area/ux

#1266 feat(api): add interceptor to bubble up underlying error code
  internal/api/approve_freight_v1alpha1.go
  internal/api/create_project_v1alpha1.go
  internal/api/create_promotion_policy_v1alpha1.go
  internal/api/create_stage_v1alpha1.go
  internal/api/create_warehouse_v1alpha1.go
  internal/api/delete_project_v1alpha1.go
  internal/api/delete_promotion_policy_v1alpha1.go
  internal/api/delete_stage_v1alpha1.go
  internal/api/delete_warehouse_v1alpha1.go
  internal/api/get_promotion_policy_v1alpha1.go
  internal/api/get_promotion_v1alpha1.go
  internal/api/get_stage_v1alpha1.go
  internal/api/get_warehouse_v1alpha1.go
  internal/api/list_projects_v1alpha1.go
  internal/api/list_promotion_policies_v1alpha1.go
  internal/api/list_promotions_v1alpha1.go
  internal/api/list_stages_v1alpha1.go
  internal/api/list_warehouses_v1alpha1.go
  internal/api/option/error.go
  internal/api/option/error_test.go
  internal/api/option/option.go
  internal/api/promote_stage_v1alpha1.go
  internal/api/promote_stage_v1alpha1_test.go
  internal/api/promote_subscribers_v1alpha1.go
  internal/api/promote_subscribers_v1alpha1_test.go
  internal/api/query_freights_v1alpha1.go
  internal/api/query_freights_v1alpha1_test.go
  internal/api/set_auto_promotion_for_stage_v1alpha1.go
  internal/api/update_promotion_policy_v1alpha1.go
  internal/api/update_stage_v1alpha1.go
  internal/api/update_warehouse_v1alpha1.go
  internal/api/validators.go
  internal/api/validators_test.go
  internal/api/watch_promotion_v1alpha1.go
  internal/api/watch_promotions_v1alpha1.go
  internal/api/watch_stages_v1alpha1.go
  internal/api/watch_warehouses_v1alpha1.go
Labels: kind/enhancement, priority/normal, area/api

#1375 refactor(controller): minor config issues with credentials db
  charts/kargo/README.md
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/values.yaml
  cmd/controlplane/controller.go
  docs/docs/30-how-to-guides/20-managing-credentials.md
  internal/controller/promotion/root_test.go
  internal/credentials/credentials.go
  internal/credentials/credentials_options.go
  internal/credentials/credentials_test.go
Labels: area/documentation, kind/refactor, priority/normal, area/controller, area/charts

#1382 feat: add ability to entirely opt-out of argo cd and rollouts integrations
  Tiltfile
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/README.md
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/templates/api/cluster-role.yaml
  charts/kargo/templates/api/configmap.yaml
  charts/kargo/templates/argocd/role-binding.yaml
  charts/kargo/templates/argocd/role.yaml
  charts/kargo/templates/controller/cluster-role-bindings.yaml
  charts/kargo/templates/controller/cluster-roles.yaml
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/values.yaml
  cmd/controlplane/api.go
  cmd/controlplane/controller.go
  cmd/controlplane/utils.go
  internal/api/types/v1alpha1/types.go
  internal/controller/applications/applications.go
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/controller/promotion/root.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/health.go
  internal/controller/stages/health_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
  internal/credentials/credentials.go
  internal/credentials/credentials_test.go
  internal/kubeclient/indexer_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, priority/high, area/controller, area/charts, area/api, size/medium

#1339 feat(chart): support additional labels
  charts/kargo/README.md
  charts/kargo/templates/_helpers.tpl
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/garbage-collector/cron-job.yaml
  charts/kargo/templates/webhooks-server/deployment.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, do not merge yet, priority/normal, area/charts

#1376 chore(controller): test order of precedence in credentials db
  internal/credentials/credentials_test.go
Labels: kind/chore, priority/normal, area/controller

#1406 feat: use finalizer to ensure proper cleanup after stage deletion
  api/v1alpha1/labels.go
  charts/kargo/templates/controller/cluster-roles.yaml
  charts/kargo/templates/webhooks/webhooks.yaml
  internal/api/delete_stage_v1alpha1.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
Labels: kind/enhancement, priority/normal, area/webhooks, area/controller, area/charts, area/api, size/medium

#1412 fix(controller): fix assessment of how app sync state impacts stage health
  internal/controller/stages/health.go
  internal/controller/stages/health_test.go
Labels: kind/bug, priority/urgent, area/controller

#1413 fix(controller): fix assessment of how app sync state impacts stage health
  internal/controller/stages/health.go
  internal/controller/stages/health_test.go
Labels: kind/bug, priority/urgent, area/controller

#1388 feat!: fully support project CRD
  api/service/v1alpha1/service.proto
  api/v1alpha1/labels.go
  api/v1alpha1/project_helpers.go
  api/v1alpha1/project_helpers_test.go
  api/v1alpha1/project_types.go
  api/v1alpha1/types.proto
  charts/kargo/crds/kargo.akuity.io_projects.yaml
  charts/kargo/templates/api/cluster-role.yaml
  charts/kargo/templates/management-controller/cluster-roles.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
  charts/kargo/templates/webhooks/webhooks.yaml
  cmd/controlplane/management_controller.go
  cmd/controlplane/webhooks.go
  go.mod
  hack/tilt/values.dev.yaml
  internal/api/common.go
  internal/api/create_or_update_resource_v1alpha1.go
  internal/api/create_project_v1alpha1.go
  internal/api/create_resource_v1alpha1.go
  internal/api/delete_project_v1alpha1.go
  internal/api/delete_resource_v1alpha1.go
  internal/api/list_projects_v1alpha1.go
  internal/api/option/auth.go
  internal/api/server.go
  internal/api/server_test.go
  internal/api/types/v1alpha1/types.go
  internal/api/update_resource_v1alpha1.go
  internal/api/validation/project.go
  internal/cli/cmd/create/project.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/get/projects.go
  internal/controller/management/namespaces/namespaces.go
  internal/controller/management/namespaces/namespaces_test.go
  internal/controller/management/projects/projects.go
  internal/controller/management/projects/projects_test.go
  internal/controller/promotion/argocd.go
  internal/controller/stages/stages.go
  internal/garbage/collector.go
  internal/kubeclient/manifest/manifest.go
  internal/kubeclient/manifest/manifest_test.go
  internal/webhook/project/webhook.go
  internal/webhook/project/webhook_test.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/features/project/list/projects-list.tsx
  ui/src/gen/schema/projects.kargo.akuity.io_v1alpha1.json
  ui/src/gen/service/v1alpha1/service_pb.ts
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, area/webhooks, area/controller, area/cli, area/charts, area/api, size/large

#1418 fix: add KLOG_LEVEL to set kubernetes logging level
  go.mod
  go.sum
  internal/logging/context.go
  internal/os/env.go
Labels: kind/bug, area/webhooks, area/controller, area/api

#1421 fix(controller): always normalize git urls before comparison -- release-0.3 edition
  internal/controller/promotion/argocd.go
  internal/controller/promotion/git.go
  internal/controller/stages/health.go
  internal/controller/stages/health_test.go
Labels: kind/bug, priority/high, area/controller

#1420 fix(controller): always normalize git urls before comparison
  internal/controller/promotion/argocd.go
  internal/controller/promotion/git.go
  internal/controller/stages/health.go
  internal/controller/stages/health_test.go
Labels: kind/bug, priority/high, area/controller

#1423 fix(ui): refetch freight after warehouse refresh -- release-0.3 edition
  ui/src/features/project/project-details/project-details.tsx
Labels: kind/bug, area/ui, priority/high

#1425 fix(controller): nil check on verificationInfo
  internal/controller/stages/stages.go
Labels: kind/bug, priority/high, area/controller

#1424 fix(docs): Fix incorrect login command & UI url
  docs/docs/40-contributor-guide/10-hacking-on-kargo.mdx
Labels: kind/bug, area/documentation, area/devx, priority/high

#1426 fix(ui): undo #1423 -- release-0.3
  ui/src/features/project/project-details/project-details.tsx
Labels: kind/bug, area/ui, priority/high

#1427 fix(controller): add another nil check in stages by analysis runs indexer
  internal/kubeclient/indexer.go
Labels: kind/bug, priority/high, area/controller

#1431 refactor: create project namespaces synchronously
  charts/kargo/templates/management-controller/cluster-roles.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
  charts/kargo/templates/webhooks/webhooks.yaml
  internal/controller/management/projects/projects.go
  internal/controller/management/projects/projects_test.go
  internal/webhook/project/webhook.go
  internal/webhook/project/webhook_test.go
Labels: kind/refactor, priority/high, area/webhooks, area/controller, area/charts

#1433 feat(cli): Add kargo dashboard command
  cmd/cli/root.go
  internal/cli/cmd/dashboard/dashboard.go
Labels: kind/enhancement, priority/normal, area/cli

#1434 feat(chart): add possibility to change pathPrefix for Ingress resource
  charts/kargo/README.md
  charts/kargo/templates/api/ingress.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, priority/normal, area/charts

#1432 refactor: no special treatment for ns in api server apply
  internal/api/common.go
Labels: kind/refactor, priority/normal, area/api

#1428 refactor(controller): improve application and analysis run event handling
  cmd/controlplane/controller.go
  internal/controller/analysis/analysis_runs.go
  internal/controller/analysis/analysis_runs_test.go
  internal/controller/applications/applications.go
  internal/controller/stages/stages.go
  internal/controller/stages/watches.go
  internal/controller/stages/watches_test.go
Labels: kind/refactor, priority/normal, area/controller

#1441 chore(docs): Add reference to semver constraint.
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  docs/docs/15-concepts.md
  docs/docs/20-quickstart.mdx
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
Labels: area/documentation, kind/enhancement, priority/normal
