Repository akuity/kargo, pull requests merged in 2024-08, with the labels that each got.

#2374 fix(ui): infinite redirect loop when renewing OIDC token
  ui/src/features/auth/token-renew.tsx
Labels: kind/bug, priority/high, area/regression, backport/release-0.8

#2353 fix(ui): better display multiple freight in one stage node
  ui/src/features/common/commit-info.tsx
  ui/src/features/freight-timeline/freight-contents.tsx
  ui/src/features/freight-timeline/freight-item-label.tsx
  ui/src/features/freight-timeline/freight-item.tsx
  ui/src/features/project/pipelines/nodes/freight-indicators.tsx
  ui/src/features/project/pipelines/nodes/freight-label.tsx
  ui/src/features/project/pipelines/nodes/repo-node.tsx
  ui/src/features/project/pipelines/nodes/stage-node-footer.tsx
  ui/src/features/project/pipelines/nodes/stage-node.module.less
  ui/src/features/project/pipelines/nodes/stage-node.tsx
  ui/src/features/project/pipelines/pipelines.tsx
  ui/src/features/project/pipelines/types.ts
  ui/src/features/project/pipelines/utils/graph.ts
  ui/src/features/project/pipelines/utils/use-pipeline-graph.ts
Labels: kind/bug, area/ui, priority/normal, area/usability

#2387 fix(ui): promoting freight cutoff + health status icon fixes
  ui/src/features/common/health-status/health-status-icon.tsx
  ui/src/features/freight-timeline/freight-item.tsx
  ui/src/features/project/pipelines/nodes/stage-node.tsx
Labels: kind/bug, area/ui, priority/normal

#2392 chore(crds): remove deprecated fields
  api/v1alpha1/freight_types.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  api/v1alpha1/stage_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_freights.yaml
  charts/kargo/resources/crds/kargo.akuity.io_promotions.yaml
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/webhook/freight/webhook_test.go
  ui/src/gen/schema/freights.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/promotions.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/chore, priority/normal, area/controller, area/crds

#2388 fix(cli): retain config changes on re-login
  internal/cli/cmd/login/login.go
Labels: kind/enhancement, priority/normal, area/cli

#2390 fix(promotion): always hard refresh ArgoCD App
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
Labels: kind/bug, priority/normal, area/controller, backport/release-0.8

#2397 chore(ui): remove references to legacy fields from pre 0.8
  ui/src/features/project/pipelines/pipelines.tsx
  ui/src/features/project/pipelines/utils/use-pipeline-graph.ts
Labels: kind/chore, area/ui, priority/normal

#2239 feat: add Conditions to Warehouses
  api/v1alpha1/conditions.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/warehouse_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  internal/conditions/conditions.go
  internal/conditions/conditions_test.go
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
  ui/src/features/project/pipelines/nodes/repo-node.tsx
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, area/ui, priority/high, area/controller, area/api

#2404 feat(ui): store current freight position in localstorage
  ui/src/features/project/pipelines/nodes/stage-node.tsx
Labels: kind/enhancement, area/ui, priority/normal

#2402 fix(promotion): sync ArgoCD Application without updates
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
Labels: kind/bug, priority/normal, area/controller, backport/release-0.8

#2405 chore: address linter issue `Dockerfile`
  Dockerfile
Labels: kind/chore, priority/normal, docker

#2411 fix(controller): account for differences in kargo, argo cd, and helm before searching for oci helm charts
  internal/argocd/revision.go
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/controller/promotion/helm.go
Labels: kind/bug, priority/high, area/controller, backport/release-0.8

#2394 chore: harden GitHub Actions workflows
  .github/workflows/backport.yaml
  .github/workflows/ci.yaml
  .github/workflows/governance.yaml
  .github/workflows/lint-pr.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
  .github/workflows/stale.yml
Labels: kind/enhancement, area/security, area/ci-process

#2422 chore(deps): bump golang from 1.22.5 to 1.22.6
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  Dockerfile.dev
  go.mod
Labels: dependencies, go, docker

#2424 chore(deps): bump Node from 22.5.1 to 22.6.0
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  netlify.toml
Labels: dependencies, docker, javascript, github_actions

#2428 fix(promotion): patch Application w/ Unstructured
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/kubeclient/patch.go
Labels: kind/bug, priority/normal, area/controller

#2430 feat(api): grant API to manage ConfigMap
  charts/kargo/templates/api/cluster-role.yaml
Labels: kind/enhancement, area/api, backport/release-0.8

#2431 chore(deps): update controller-runtime to v0.19.0
  go.mod
  go.sum
  internal/controller/promotions/watches.go
  internal/controller/promotions/watches_test.go
  internal/controller/stages/watches.go
  ui/src/gen/k8s.io/api/batch/v1/generated_pb.ts
  ui/src/gen/k8s.io/api/core/v1/generated_pb.ts
  ui/src/gen/k8s.io/apimachinery/pkg/apis/meta/v1/generated_pb.ts
Labels: priority/normal, area/controller, dependencies

#2432 chore(deps): update Go to 1.23
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .golangci.yaml
  Dockerfile
  Dockerfile.dev
  go.mod
Labels: dependencies, go

#2396 fix(ui): hide subscriptions per warehouse in DAG
  ui/src/features/project/pipelines/nodes/repo-node.tsx
  ui/src/features/project/pipelines/pipelines.tsx
  ui/src/features/project/pipelines/types.ts
  ui/src/features/project/pipelines/utils/graph.ts
  ui/src/features/project/pipelines/utils/use-pipeline-graph.ts
Labels: kind/bug, area/ui, priority/normal

#2433 fix(controller): improve logic to determine when syncing an argo cd app is required
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/controller/promotion/composite.go
  internal/controller/promotion/composite_test.go
  internal/controller/promotion/git.go
  internal/controller/promotion/git_test.go
  internal/controller/promotion/pullrequest.go
  internal/controller/promotion/root.go
  internal/controller/promotion/root_test.go
  internal/controller/promotions/promotions.go
Labels: kind/bug, priority/high, area/controller

#2435 fix: webhook server and controller permissions
  charts/kargo/templates/management-controller/cluster-roles.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
Labels: kind/bug, priority/high, area/controller, backport/release-0.8

#2437 feat: make local server work finally
  Makefile
  cmd/controlplane/api.go
  internal/api/delete_analysistemplate_v1alpha1_test.go
  internal/api/get_analysisrun_v1alpha1_test.go
  internal/api/get_analysistemplate_v1alpha1_test.go
  internal/api/get_config_v1alpha1_test.go
  internal/api/get_credentials_v1alpha1_test.go
  internal/api/get_freight_v1alpha1_test.go
  internal/api/get_project_v1alpha1_test.go
  internal/api/get_promotion_v1alpha1_test.go
  internal/api/get_stage_v1alpha1_test.go
  internal/api/get_warehouse_v1alpha1_test.go
  internal/api/kubernetes/client.go
  internal/api/list_analysistemplates_v1alpha1_test.go
  internal/api/list_projects_v1alpha1_test.go
  internal/api/list_promotions_v1alpha1_test.go
  internal/api/list_stages_v1alpha1_test.go
  internal/api/option/option.go
  internal/api/refresh_stage_v1alpha1.go
  internal/api/refresh_stage_v1alpha1_test.go
  internal/api/server.go
  internal/api/server_test.go
  internal/cli/cmd/server/server.go
  internal/kubeclient/indexer.go
  ui/vite.config.ts
Labels: kind/enhancement, priority/low, area/cli, area/api

#2441 feat!: user strict semver parsing for image and commit selection, but allow opt-out
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/warehouse_types.go
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  internal/controller/semver/parser.go
  internal/controller/semver/parser_test.go
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
  internal/controller/warehouses/images.go
  internal/image/digest_selector.go
  internal/image/digest_selector_test.go
  internal/image/lexical_selector.go
  internal/image/lexical_selector_test.go
  internal/image/newest_build_selector.go
  internal/image/newest_build_selector_test.go
  internal/image/platform_constraint.go
  internal/image/platform_constraint_test.go
  internal/image/selector.go
  internal/image/semver_selector.go
  internal/image/semver_selector_test.go
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/controller, area/crds

#2449 chore: centralize development tool management
  .github/workflows/ci.yaml
  .gitignore
  Dockerfile.dev
  Makefile
  hack/codegen/proto.sh
  hack/tools.mk
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Labels: kind/chore, area/devx, area/ci-process, dependencies

#2453 refactor: favor sorting with slices package over sort package
  api/v1alpha1/freight_types.go
  internal/api/list_analysistemplates_v1alpha1.go
  internal/api/list_credentials_v1alpha1.go
  internal/api/list_project_events_v1alpha1.go
  internal/api/query_freights_v1alpha1.go
  internal/api/rbac/policy_rules.go
  internal/api/rbac/roles.go
  internal/argocd/sort.go
  internal/argocd/sort_test.go
  internal/controller/promotion/argocd.go
  internal/controller/stages/verification.go
  internal/credentials/kubernetes/database.go
  internal/garbage/freight.go
  internal/garbage/promotions.go
  internal/garbage/sorts.go
  internal/garbage/sorts_test.go
  internal/helm/helm.go
  internal/image/lexical_selector.go
  internal/image/newest_build_selector.go
  internal/image/semver_selector.go
  internal/proto/codegen/ast.go
Labels: kind/chore, kind/refactor, priority/normal, area/controller, area/api, area/garbage-collector

#2470 feat: support kustomize image newName override
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  hack/codegen/proto.sh
  internal/controller/promotion/kustomize.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/urgent, area/controller, area/crds

#2471 feat: support kustomize image newName override
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  hack/codegen/proto.sh
  internal/controller/promotion/kustomize.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/urgent, area/controller, area/crds

#2468 chore: tweak Dependabot config for tools
  .github/dependabot.yml
Labels: kind/chore, priority/normal, dependencies
