Repository akuity/kargo, pull requests merged in 2024-02, with the labels that each got.

#1417 refactor!: fold promotion policies into project crd
  Tiltfile
  api/service/v1alpha1/service.proto
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/project_types.go
  api/v1alpha1/promotion_policy_helpers.go
  api/v1alpha1/promotion_policy_helpers_test.go
  api/v1alpha1/promotionpolicy_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_projects.yaml
  charts/kargo/crds/kargo.akuity.io_promotionpolicies.yaml
  charts/kargo/templates/api/cluster-role.yaml
  charts/kargo/templates/controller/cluster-roles.yaml
  charts/kargo/templates/user-roles/cluster-roles.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
  charts/kargo/templates/webhooks/webhooks.yaml
  cmd/controlplane/webhooks.go
  internal/api/create_promotion_policy_v1alpha1.go
  internal/api/delete_promotion_policy_v1alpha1.go
  internal/api/get_promotion_policy_v1alpha1.go
  internal/api/list_promotion_policies_v1alpha1.go
  internal/api/set_auto_promotion_for_stage_v1alpha1.go
  internal/api/types/v1alpha1/types.go
  internal/api/update_promotion_policy_v1alpha1.go
  internal/cli/cmd/stage/set_auto_promotion.go
  internal/controller/management/namespaces/namespaces.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/kubeclient/indexer.go
  internal/kubeclient/indexer_test.go
  internal/webhook/project/webhook.go
  internal/webhook/project/webhook_test.go
  internal/webhook/promotionpolicy/webhook.go
  internal/webhook/promotionpolicy/webhook_test.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/projects.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/promotionpolicies.kargo.akuity.io_v1alpha1.json
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/refactor, priority/normal, area/webhooks, area/controller, area/cli, area/charts, area/api, area/ux, area/crds

#1445 feat(webhook): allow legacy project ns to be adopted by project when created
  charts/kargo/templates/webhooks-server/cluster-role.yaml
  internal/webhook/project/webhook.go
  internal/webhook/project/webhook_test.go
Labels: kind/enhancement, priority/high, area/webhooks

#1446 feat: allow warehouse git subs to select commits by tag
  .golangci.yaml
  api/v1alpha1/freight_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/warehouse_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_freights.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  internal/api/types/v1alpha1/types.go
  internal/controller/git/git.go
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/freights.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, priority/normal, area/controller, area/crds, area/usability

#1450 fix!: play nicer with helm
  api/v1alpha1/freight_types.go
  api/v1alpha1/freight_types_test.go
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_freights.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  internal/api/query_freights_v1alpha1.go
  internal/api/query_freights_v1alpha1_test.go
  internal/api/types/v1alpha1/types.go
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/controller/promotion/helm.go
  internal/controller/promotion/helm_test.go
  internal/controller/stages/health.go
  internal/controller/warehouses/helm.go
  internal/controller/warehouses/helm_test.go
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
  internal/credentials/credentials.go
  internal/credentials/credentials_test.go
  internal/helm/creds.go
  internal/helm/helm.go
  internal/helm/helm_test.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/features/project/project-details/nodes/repo-node.tsx
  ui/src/gen/schema/freights.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/bug, kind/refactor, priority/normal, area/controller, area/api, area/crds

#1452 chore(controller): change image selection func and variable names for clarity
  internal/controller/warehouses/images.go
  internal/controller/warehouses/images_test.go
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
Labels: kind/chore, kind/refactor, priority/normal, area/controller

#1463 fix(controller): add new nil checks in stages reconciler initialization
  internal/controller/stages/stages.go
Labels: kind/bug, priority/high, area/controller

#1464 feat(controller): simplify and improve rollouts integration
  charts/kargo/README.md
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/values.yaml
  cmd/controlplane/controller.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
Labels: kind/enhancement, kind/refactor, priority/normal, area/controller, area/charts

#1470 fix: handle sharded stage events
  internal/controller/labels.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/watches.go
Labels: kind/bug, priority/high, area/controller

#1462 chore!: clean up things having to do with image selection
  api/v1alpha1/types.proto
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  internal/api/types/v1alpha1/types.go
  internal/controller/warehouses/images.go
  internal/controller/warehouses/images_test.go
  internal/controller/warehouses/warehouses.go
  internal/image/digest_selector.go
  internal/image/digest_selector_test.go
  internal/image/digest_tag_selector.go
  internal/image/image.go
  internal/image/image_test.go
  internal/image/lexical_selector.go
  internal/image/lexical_selector_test.go
  internal/image/lexical_tag_selector.go
  internal/image/newest_build_selector.go
  internal/image/newest_build_selector_test.go
  internal/image/newest_build_tag_selector.go
  internal/image/platform_constraint.go
  internal/image/registry.go
  internal/image/registry_test.go
  internal/image/repository_client.go
  internal/image/repository_client_docker_hub_test.go
  internal/image/repository_client_test.go
  internal/image/selector.go
  internal/image/selector_docker_hub_test.go
  internal/image/selector_ghcr_test.go
  internal/image/selector_test.go
  internal/image/semver_selector.go
  internal/image/semver_selector_test.go
  internal/image/semver_tag_selector.go
  internal/image/tag_selector.go
  internal/image/tag_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/chore, kind/refactor, priority/normal, area/controller, area/crds

#1480 chore: upgrade kargo-render dependency to latest
  Dockerfile
Labels: kind/chore, priority/normal, dependencies, docker

#1481 fix(controller): simplify exec of kargo edit set image command
  internal/controller/promotion/kustomize.go
  internal/controller/promotion/kustomize_test.go
  internal/kustomize/kustomize.go
  internal/kustomize/kustomize_test.go
Labels: kind/bug, kind/refactor, priority/low, area/controller

#1482 refactor: make management controller able to create project namespaces again
  charts/kargo/templates/management-controller/cluster-roles.yaml
  internal/controller/management/projects/projects.go
  internal/controller/management/projects/projects_test.go
  internal/webhook/project/webhook.go
Labels: kind/refactor, priority/high, area/controller, area/charts

#1483 refactor(controller)!: remove option to borrow credentials from argo cd
  charts/kargo/README.md
  charts/kargo/templates/argocd/role-binding.yaml
  charts/kargo/templates/argocd/role.yaml
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/values.yaml
  cmd/controlplane/controller.go
  internal/controller/promotion/root_test.go
  internal/credentials/credentials.go
  internal/credentials/credentials_test.go
Labels: kind/refactor, priority/normal, area/controller, area/charts

#1485 fix: Tiltfile
  Tiltfile
Labels: kind/bug, area/devx, priority/normal

#1486 feat: grant API server permissions to manage project secrets on project create
  Tiltfile
  charts/kargo/templates/api/cluster-role.yaml
  charts/kargo/templates/management-controller/cluster-roles.yaml
  charts/kargo/templates/management-controller/configmap.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
  charts/kargo/templates/webhooks-server/configmap.yaml
  cmd/controlplane/management_controller.go
  cmd/controlplane/webhooks.go
  hack/tilt/values.dev.yaml
  internal/api/config/config.go
  internal/controller/management/projects/projects.go
  internal/controller/management/projects/projects_test.go
  internal/webhook/project/webhook.go
  internal/webhook/project/webhook_test.go
Labels: kind/enhancement, area/security, priority/high, area/webhooks, area/controller, area/charts

#1502 docs: update concepts and how to sections for v0.4
  docs/docs/15-concepts.md
  docs/docs/30-how-to-guides/15-working-with-freight.md
  docs/docs/30-how-to-guides/20-managing-credentials.md
Labels: area/documentation, kind/refactor, priority/normal

#1505 fix: transform uname arch into valid Go arch
  Makefile
Labels: kind/bug, area/devx, priority/normal

#1504 feat: allow connecting to HTTP Git repositories
  api/v1alpha1/stage_types.go
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  internal/credentials/credentials.go
  internal/credentials/credentials_test.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
Labels: kind/enhancement, area/security, priority/normal, area/controller, area/crds

#1503 docs: update roadmap
  docs/docs/50-roadmap.md
Labels: area/documentation, kind/refactor, priority/normal

#1501 docs: update quickstart for v0.4
  docs/docs/20-quickstart.mdx
Labels: area/documentation, kind/refactor, priority/normal

#1516 feat(cli): add `--client` flag to `kargo version`
  cmd/cli/version.go
  internal/cli/option/flag.go
  internal/cli/option/option.go
Labels: kind/enhancement, priority/normal, area/cli

#1518 fix(chart): warnings in chart install/upgrade
  charts/kargo/templates/management-controller/cluster-roles.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
Labels: kind/bug, priority/normal, area/charts

#1519 fix(crds): stage validation issue with kargo render promo mechs
  api/v1alpha1/stage_types.go
Labels: kind/bug, priority/urgent, area/crds

#1521 chore(docs): port doc improvements from 0.4 release branch
  docs/docs/15-concepts.md
  docs/docs/20-quickstart.mdx
  docs/docs/30-how-to-guides/15-working-with-freight.md
  docs/docs/30-how-to-guides/20-managing-credentials.md
  docs/docs/50-roadmap.md
Labels: area/documentation, kind/chore, priority/normal

#1520 fix(crds): stage validation issue with kargo render promo mechs (#1519)
  api/v1alpha1/stage_types.go
Labels: kind/bug, kind/chore, priority/normal, area/crds

#1460 feat(chart): Support for adding EnvVars to the dex pod
  charts/kargo/README.md
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/values.yaml
Labels: priority/normal, area/charts, kind/feature-request

#1466 feat(chart): add imagePullSecrets values for deployments
  charts/kargo/README.md
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/management-controller/deployment.yaml
  charts/kargo/templates/webhooks-server/deployment.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, priority/normal, area/charts

#1517 fix(devx): mount permission issues on Linux
  Dockerfile.dev
  Makefile
Labels: kind/bug, area/devx, priority/normal

#1528 fix(cli): don't involve kubeconfig in reading bytes from files
  internal/cli/option/kubernetes.go
Labels: kind/bug, priority/urgent, area/cli

#1541 fix: Fix garbage-collector yaml indentation
  charts/kargo/templates/garbage-collector/cron-job.yaml
Labels: kind/bug, priority/normal, area/charts

#1535 refactor(cli)!: "stage management" sub-commands
  api/service/v1alpha1/service.proto
  cmd/cli/root.go
  docs/docs/20-quickstart.mdx
  internal/api/set_auto_promotion_for_stage_v1alpha1.go
  internal/cli/cmd/promote/promote.go
  internal/cli/cmd/stage/promote.go
  internal/cli/cmd/stage/promote_subscribers.go
  internal/cli/cmd/stage/set_auto_promotion.go
  internal/cli/cmd/stage/stage.go
  internal/cli/option/flag.go
  internal/cli/option/option.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/refactor, area/cli

#1539 fix(cli): don't involve kubeconfig in reading bytes from files
  go.mod
  go.sum
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/delete/delete.go
  internal/cli/option/kubernetes.go
  internal/yaml/yaml.go
  internal/yaml/yaml_test.go
Labels: kind/bug, priority/normal, area/cli

#1542 refactor(crds)!: consistently use message field instead of error field
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  internal/api/types/v1alpha1/types.go
  internal/controller/stages/stages.go
  internal/controller/warehouses/warehouses.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/refactor, priority/normal, area/controller, area/api, area/crds

#1534 fix(ui): UI does not properly handle shards deep linking
  ui/src/features/stage/stage-actions.tsx
Labels: kind/bug, area/ui

#1550 refactor(cli)!: change `update freight-alias` command to `update freight`
  docs/docs/30-how-to-guides/15-working-with-freight.md
  internal/cli/cmd/update/freight.go
  internal/cli/cmd/update/update.go
Labels: kind/refactor, priority/normal, area/cli, area/ux

#1551 refactor(cli): remove `kargo config set|unset` in favor of `kargo config set-project`
  internal/cli/cmd/config/config.go
  internal/cli/cmd/config/set_project.go
  internal/cli/cmd/config/unset.go
  internal/cli/cmd/promote/promote.go
  internal/cli/cmd/update/freight.go
Labels: kind/enhancement, kind/refactor, priority/normal, area/cli, area/ux

#1543 refactor(api)!: remove redundant api endpoints
  api/service/v1alpha1/service.proto
  internal/api/create_project_v1alpha1.go
  internal/api/create_stage_v1alpha1.go
  internal/api/create_warehouse_v1alpha1.go
  internal/api/update_stage_v1alpha1.go
  internal/api/update_warehouse_v1alpha1.go
  internal/cli/cmd/create/project.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/features/stage/create-stage-modal.tsx
  ui/src/features/stage/edit-stage-modal.tsx
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/refactor, area/ui, priority/normal, area/cli, area/api

#1548 feat: manage mappings for pre-defined service accounts
  Tiltfile
  charts/kargo/README.md
  charts/kargo/templates/api/configmap.yaml
  charts/kargo/templates/users/cluster-role-bindings.yaml
  charts/kargo/templates/users/cluster-roles.yaml
  charts/kargo/templates/users/service-accounts.yaml
  charts/kargo/values.yaml
  internal/controller/management/projects/projects.go
  internal/webhook/project/webhook.go
Labels: kind/enhancement, priority/urgent, area/webhooks, area/charts, area/api

#1552 refactor(controller)!: improved cred storage
  docs/docs/20-quickstart.mdx
  docs/docs/30-how-to-guides/20-managing-credentials.md
  internal/credentials/credentials.go
  internal/credentials/credentials_test.go
Labels: kind/refactor, priority/high, area/controller

#1547 refactor(cli): restructure commands, option flags and validation
  cmd/cli/root.go
  go.mod
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/approve/approve.go
  internal/cli/cmd/config/config.go
  internal/cli/cmd/config/set_project.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/create/project.go
  internal/cli/cmd/dashboard/dashboard.go
  internal/cli/cmd/delete/delete.go
  internal/cli/cmd/delete/project.go
  internal/cli/cmd/delete/stage.go
  internal/cli/cmd/delete/warehouse.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/get/projects.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
  internal/cli/cmd/login/login.go
  internal/cli/cmd/promote/promote.go
  internal/cli/cmd/refresh/refresh.go
  internal/cli/cmd/refresh/stage.go
  internal/cli/cmd/refresh/warehouse.go
  internal/cli/cmd/update/freight.go
  internal/cli/cmd/update/update.go
  internal/cli/option/flag.go
  internal/cli/option/option.go
Labels: kind/enhancement, kind/refactor, priority/normal, area/cli, area/ux
