Repository akuity/kargo, pull requests merged in 2024-10, with the labels that each got.

#2615 docs: update the quickstart to use promotion steps
  docs/docs/20-quickstart.md
Labels: area/documentation, kind/refactor, priority/high, backport/release-0.9

#2617 feat(controller)!: queue Stages for Application changes using annotation
  api/rbac/v1alpha1/annotations.go
  api/v1alpha1/annotations.go
  go.mod
  internal/controller/promotion/argocd.go
  internal/controller/promotion/argocd_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/watches.go
  internal/directives/argocd_updater.go
  internal/directives/argocd_updater_test.go
  internal/kubeclient/indexer.go
  internal/kubeclient/indexer_test.go
Labels: kind/bug, priority/high, area/controller, area/api, backport/release-0.9

#2620 fix(indexer): extract Apps from Promotion directives
  cmd/controlplane/garbage_collector.go
  cmd/controlplane/webhooks.go
  internal/api/kubernetes/client.go
  internal/api/list_project_events_v1alpha1.go
  internal/api/list_promotions_v1alpha1.go
  internal/api/option/auth.go
  internal/api/query_freights_v1alpha1.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/watches.go
  internal/controller/promotions/watches_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/watches.go
  internal/garbage/freight.go
  internal/garbage/promotions.go
  internal/indexer/indexer.go
  internal/indexer/indexer_test.go
  internal/webhook/freight/webhook.go
Labels: kind/bug, priority/high, area/controller, backport/release-0.9

#2619 feat(directives): support multi file write for `helm-template`
  internal/directives/helm_template_runner.go
  internal/directives/helm_template_runner_test.go
  internal/directives/schemas/helm-template-config.json
  internal/directives/zz_config_types.go
Labels: kind/enhancement, priority/high, area/controller

#2549 feat(ui): display promotion steps and YAML
  internal/controller/promotions/promotions.go
  internal/directives/simple_engine.go
  ui/src/features/auth/protected-route.tsx
  ui/src/features/common/manifest-preview.tsx
  ui/src/features/common/promotion-directive-step-status/utils.ts
  ui/src/features/common/promotion-status/utils.ts
  ui/src/features/project/pipelines/utils/promotion-steps-example.ts
  ui/src/features/promotion-directives/registry/context/registry-context-provider.tsx
  ui/src/features/promotion-directives/registry/context/registry-context.tsx
  ui/src/features/promotion-directives/registry/context/use-registry-context.tsx
  ui/src/features/promotion-directives/registry/types.ts
  ui/src/features/promotion-directives/registry/use-discover-registries.ts
  ui/src/features/stage/create-stage.tsx
  ui/src/features/stage/promotion-details-modal.tsx
  ui/src/features/stage/promotions.tsx
Labels: kind/enhancement, area/ui, priority/high, backport/release-0.9

#2628 fix(directives): require release name for `helm-template`
  internal/directives/schemas/helm-template-config.json
  internal/directives/zz_config_types.go
Labels: kind/enhancement, priority/high, area/controller, backport/release-0.9

#2630 feat(directives): support writing kustomize output to multiple files
  internal/directives/kustomize_builder.go
  internal/directives/kustomize_builder_test.go
Labels: kind/enhancement, priority/high, area/controller, backport/release-0.9

#2634 refactor: promo step errors
  internal/controller/promotions/promotions.go
  internal/directives/argocd_updater.go
  internal/directives/argocd_updater_test.go
  internal/directives/fake_engine.go
  internal/directives/fake_engine_test.go
  internal/directives/file_copier.go
  internal/directives/file_copier_test.go
  internal/directives/git_cloner.go
  internal/directives/git_cloner_test.go
  internal/directives/git_commiter.go
  internal/directives/git_commiter_test.go
  internal/directives/git_pr_opener.go
  internal/directives/git_pr_waiter.go
  internal/directives/git_pr_waiter_test.go
  internal/directives/git_pusher.go
  internal/directives/git_tree_overwriter.go
  internal/directives/git_tree_overwriter_test.go
  internal/directives/helm_chart_updater.go
  internal/directives/helm_chart_updater_test.go
  internal/directives/helm_image_updater.go
  internal/directives/helm_image_updater_test.go
  internal/directives/helm_template_runner.go
  internal/directives/helm_template_runner_test.go
  internal/directives/kustomize_builder.go
  internal/directives/kustomize_builder_test.go
  internal/directives/kustomize_image_setter.go
  internal/directives/kustomize_image_setter_test.go
  internal/directives/promotions.go
  internal/directives/simple_engine.go
  internal/directives/simple_engine_test.go
Labels: kind/refactor, priority/high, area/controller, backport/release-0.9

#2637 fix(controller): fix message that was getting lost beteen step and reconciler
  internal/directives/simple_engine.go
Labels: kind/bug, priority/high, area/controller, backport/release-0.9

#2625 docs: update scripts and docs for v0.9.0-rc.2
  docs/docs/20-quickstart.md
  docs/docs/30-how-to-guides/10-installing-kargo.md
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: area/documentation, kind/chore, area/release-process, priority/high

#2641 fix(directives): do not require `targetBranch` for `git-push`
  internal/directives/git_pusher_test.go
  internal/directives/schemas/git-push-config.json
Labels: kind/bug, priority/high, area/controller, backport/release-0.9

#2643 refactor(directives): `git-overwrite` -> `git-clear`
  docs/docs/20-quickstart.md
  internal/directives/git_tree_clearer.go
  internal/directives/git_tree_clearer_test.go
  internal/directives/git_tree_overwriter.go
  internal/directives/schemas/git-clear-config.json
  internal/directives/schemas/git-overwrite-config.json
  internal/directives/zz_config_types.go
  ui/src/features/project/pipelines/utils/promotion-steps-example.ts
  ui/src/features/promotion-directives/registry/types.ts
  ui/src/features/promotion-directives/registry/use-discover-registries.ts
Labels: kind/enhancement, priority/high, area/controller, backport/release-0.9

#2644 fix(api): loosen Stage validation
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/bug, priority/urgent, area/api, backport/release-0.9

#2639 chore(ui): improve stability
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/app.tsx
  ui/src/features/project/analysis-templates/create-analysis-template-modal.tsx
  ui/src/features/project/list/create-project-modal.tsx
  ui/src/features/project/pipelines/create-warehouse-modal.tsx
  ui/src/features/project/pipelines/pipelines.tsx
  ui/src/features/project/pipelines/utils/watcher.ts
  ui/src/features/stage/create-stage.tsx
  ui/src/features/utils/cache/analysis-templates.ts
  ui/src/features/utils/cache/index.ts
  ui/src/features/utils/cache/project.ts
  ui/src/utils/decode-raw-data.ts
Labels: area/ui, priority/high, area/usability, backport/release-0.9

#2649 feat(directives): allow ignore rules for `copy`
  go.mod
  go.sum
  internal/directives/file_copier.go
  internal/directives/file_copier_test.go
  internal/directives/schemas/copy-config.json
  internal/directives/zz_config_types.go
Labels: kind/enhancement, priority/high, area/controller, backport/release-0.9

#2650 fix(ui): downstream promotion
  internal/api/promote_downstream_v1alpha1.go
  ui/src/features/project/pipelines/nodes/stage-node.tsx
Labels: area/ui, priority/high, area/api, backport/release-0.9

#2648 refactor(controller): fix slice init length
  internal/argocd/health.go
  internal/directives/argocd_health.go
Labels: kind/refactor, priority/normal, area/controller

#2658 feat(ui): promotion steps view improvement
  ui/src/features/stage/promotion-details-modal.tsx
  ui/src/features/stage/promotions.tsx
Labels: kind/enhancement, area/ui, priority/high, backport/release-0.9

#2660 chore: make edge docs and scripts reference v0.9.0-rc.3
  docs/docs/20-quickstart.md
  docs/docs/30-how-to-guides/10-installing-kargo.md
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: area/documentation, kind/chore, area/release-process, priority/high

#2640 docs: document built-in promotion steps
  docs/docs/15-concepts.md
  docs/docs/20-quickstart.md
  docs/docs/35-references/10-promotion-steps.md
  docs/docs/35-references/_category_.json
Labels: area/documentation, kind/enhancement, priority/high

#2677 fix(promotion): fail Promotion on validation error
  internal/controller/promotions/promotions.go
Labels: kind/bug, priority/normal, area/controller, backport/release-0.9

#2684 fix(chart,apiserver): make groups additional scope by default as they are non standard
  charts/kargo/README.md
  charts/kargo/values.yaml
  internal/api/oidc/config.go
Labels: kind/bug, area/security, priority/high, area/charts, area/api, backport/release-0.9

#2690 docs: update doc site links to reflect its permanent new home
  .github/ISSUE_TEMPLATE/config.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/docs/40-contributor-guide/15-release-procedures.md
  docs/docusaurus.config.js
  ui/src/features/common/layout/main-layout.tsx
  ui/src/features/project/pipelines/create-warehouse-modal.tsx
  ui/src/features/stage/create-stage.tsx
  ui/src/features/stage/edit-stage-modal.tsx
Labels: area/documentation, kind/chore, priority/normal, backport/release-0.9

#2564 docs: improve kargo concepts docs
  docs/docs/15-concepts.md
Labels: area/documentation, kind/enhancement, kind/refactor, priority/normal, backport/release-0.9

#2697 feat: harden image using apko and wolfi
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .gitignore
  Dockerfile
  Makefile
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/controller/deployment.yaml
  kargo-base.apko.yaml
Labels: area/security, kind/chore, area/devx, area/ci-process, area/release-process, do not merge yet, priority/high, docker

#2702 chore: use additional scopes while having dex enabled
  charts/kargo/templates/api/configmap.yaml
Labels: kind/bug, priority/high, area/api

#2708 fix: use mkdirall when creating ~/.ssh dir to allow for the case where it already exists
  internal/controller/git/base_repo.go
Labels: kind/bug, priority/high, area/controller

#2709 fix: add busybox to base image
  kargo-base.apko.yaml
Labels: kind/bug, priority/high, area/controller

#2713 chore: remove version info from docs and scripts
  docs/docs/30-how-to-guides/10-installing-kargo.md
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
Labels: area/documentation, kind/chore, priority/high

#2712 fix: make warehouse cleanup git repos
  internal/controller/warehouses/git.go
Labels: kind/bug, priority/high, area/controller

#2711 fix: relax clone step config validation to allow ssh urls
  internal/directives/git_cloner_test.go
  internal/directives/schemas/git-clone-config.json
Labels: kind/bug, priority/high, area/controller

#2623 feat(ui): promotion directives wizard on stage creation step
  internal/directives/schemas/argocd-update-config.json
  internal/directives/schemas/git-clone-config.json
  internal/directives/schemas/helm-update-chart-config.json
  internal/directives/schemas/helm-update-image-config.json
  internal/directives/schemas/kustomize-set-image-config.json
  ui/hack/generate-directive-schema.mjs
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/features/common/layout/error-boundary.tsx
  ui/src/features/promotion-directives/registry/types.ts
  ui/src/features/promotion-directives/registry/use-discover-registries.ts
  ui/src/features/stage/create-stage.tsx
  ui/src/features/stage/promotion-details-modal.tsx
  ui/src/features/stage/promotion-steps-wizard/promotion-step-form.tsx
  ui/src/features/stage/promotion-steps-wizard/promotion-steps-wizard.tsx
  ui/src/features/stage/promotion-steps-wizard/runner-form.module.less
  ui/src/features/stage/promotion-steps-wizard/runner-form.tsx
  ui/src/features/stage/promotion-steps-wizard/selected-runner.tsx
  ui/src/features/stage/promotion-steps-wizard/types.ts
  ui/src/features/stage/promotion-steps-wizard/use-promotion-wizard-steps-state.ts
  ui/src/features/stage/promotion-steps-wizard/utils.ts
  ui/src/gen/directives/argocd-update-config.json
  ui/src/gen/directives/common.json
  ui/src/gen/directives/copy-config.json
  ui/src/gen/directives/git-clear-config.json
  ui/src/gen/directives/git-clone-config.json
  ui/src/gen/directives/git-commit-config.json
  ui/src/gen/directives/git-open-pr-config.json
  ui/src/gen/directives/git-push-config.json
  ui/src/gen/directives/git-wait-for-pr-config.json
  ui/src/gen/directives/helm-template-config.json
  ui/src/gen/directives/helm-update-chart-config.json
  ui/src/gen/directives/helm-update-image-config.json
  ui/src/gen/directives/kustomize-build-config.json
  ui/src/gen/directives/kustomize-set-image-config.json
Labels: kind/enhancement, area/ui, priority/normal

#2723 fix(cli): fix flag in login command example
  internal/cli/cmd/login/login.go
Labels: kind/bug, priority/high, area/cli

#2719 fix: ensure makefile honors IMAGE_PLATFORMS env var
  Makefile
Labels: kind/bug, area/devx, priority/normal

#2725 docs: document how to use ssh keys for git repos
  docs/docs/30-how-to-guides/20-managing-credentials.md
Labels: area/documentation, kind/enhancement, priority/high

#2724 fix: improve freight availability checks
  api/v1alpha1/freight_helpers.go
  api/v1alpha1/freight_helpers_test.go
  internal/api/promote_downstream_v1alpha1.go
  internal/api/promote_downstream_v1alpha1_test.go
  internal/api/promote_to_stage_v1alpha1.go
  internal/api/promote_to_stage_v1alpha1_test.go
  internal/api/server.go
  internal/controller/promotions/promotions.go
  internal/webhook/promotion/webhook.go
  internal/webhook/promotion/webhook_test.go
Labels: kind/bug, priority/high, area/webhooks, area/controller, area/api

#2731 fix(cli): fix auth via --kubeconfig option
  internal/cli/cmd/login/login.go
Labels: kind/bug, priority/high, area/cli

#2721 feat(directives): enable Helm plugin for `kustomize-build`
  Makefile
  docs/docs/35-references/10-promotion-steps.md
  internal/directives/kustomize_builder.go
  internal/directives/kustomize_builder_test.go
  internal/directives/schemas/kustomize-build-config.json
  internal/directives/zz_config_types.go
  kargo-base.apko.yaml
  ui/src/gen/directives/kustomize-build-config.json
Labels: kind/enhancement, priority/high, area/regression

#2732 refactor(chart): resume using official kargo image for cabundle init containers
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/controller/deployment.yaml
  kargo-base.apko.yaml
Labels: area/security, kind/refactor, priority/high, area/charts

#2401 feat!: add Conditions to Projects
  api/v1alpha1/conditions.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/project_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_projects.yaml
  internal/cli/cmd/get/projects.go
  internal/controller/management/projects/projects.go
  internal/controller/management/projects/projects_test.go
  ui/src/gen/schema/projects.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/controller, area/api

#2733 fix(directives): permit `helm-update-chart` access to Kargo client
  internal/directives/helm_chart_updater.go
Labels: kind/bug, priority/high, area/controller

#2730 feat(ui): freight history in stage details
  ui/src/features/common/utils.ts
  ui/src/features/freight-timeline/freight-timeline-wrapper.tsx
  ui/src/features/stage/create-stage.tsx
  ui/src/features/stage/freight-history.tsx
  ui/src/features/stage/requested-freight.module.less
  ui/src/features/stage/requested-freight.tsx
  ui/src/features/stage/stage-details.tsx
Labels: kind/enhancement, area/ui, priority/normal

#2745 chore(backport release-0.9): feat(directives): enable Helm plugin for `kustomize-build`
  Makefile
  docs/docs/35-references/10-promotion-steps.md
  internal/directives/kustomize_builder.go
  internal/directives/kustomize_builder_test.go
  internal/directives/schemas/kustomize-build-config.json
  internal/directives/zz_config_types.go
Labels: kind/bug, priority/high, area/controller

#2747 fix: git username/email fixes
  charts/kargo/README.md
  charts/kargo/values.yaml
  internal/controller/git/base_repo.go
  internal/controller/git/work_tree.go
  internal/directives/git_cloner.go
Labels: kind/bug, priority/high, area/controller, area/charts

#2749 feat: allow terminating Promotions
  api/service/v1alpha1/service.proto
  api/v1alpha1/annotations.go
  api/v1alpha1/annotations_test.go
  api/v1alpha1/event.go
  api/v1alpha1/promotion_helpers.go
  api/v1alpha1/promotion_helpers_test.go
  api/v1alpha1/promotion_types.go
  internal/api/abort_promotion.go
  internal/cli/cmd/promote/promote.go
  internal/cli/cmd/verify/stage.go
  internal/cli/option/flag.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/verification.go
  internal/kargo/kargo.go
  internal/webhook/promotion/webhook.go
  internal/webhook/promotion/webhook_test.go
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/enhancement, priority/high, area/controller, area/cli

#2753 feat: add ui stage link to promo prs
  charts/kargo/templates/controller/configmap.yaml
  internal/controller/promotions/promotions.go
  internal/directives/git_pr_opener.go
  internal/directives/promotions.go
  internal/directives/simple_engine.go
  internal/gitprovider/github/github.go
Labels: kind/enhancement, priority/normal, area/controller, area/charts

#2754 fix(controller): use calculated warehouse requeue interval
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
Labels: kind/bug, priority/high, area/controller

#2755 fix(release-process): fix container networking in release image build process
  .github/workflows/release.yaml
Labels: kind/bug, area/release-process, priority/high

#2758 fix(promotion): add predicate for abort annotation
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/kargo/kargo.go
  internal/kargo/kargo_test.go
Labels: kind/bug, priority/high, area/controller

#2761 feat!: limit controller secret access only to project namespaces
  Tiltfile
  charts/kargo/README.md
  charts/kargo/templates/controller/cluster-roles.yaml
  charts/kargo/templates/management-controller/configmap.yaml
  charts/kargo/values.yaml
  cmd/controlplane/controller.go
  cmd/controlplane/management_controller.go
  internal/controller/labels.go
  internal/controller/labels_test.go
  internal/controller/management/projects/projects.go
  internal/controller/management/projects/projects_test.go
  internal/controller/management/serviceaccounts/serviceaccounts.go
  internal/controller/management/serviceaccounts/serviceaccounts_test.go
Labels: kind/enhancement, area/security, priority/high, area/controller

#2766 fix(directives): ignore resource version on app patch
  internal/directives/argocd_updater.go
Labels: kind/bug, priority/high, area/controller, backport/release-0.9

#2770 fix(chart): fix default for clusterWideSecretReadingEnabled
  charts/kargo/README.md
  charts/kargo/values.yaml
Labels: kind/bug, priority/high, area/charts

#2765 chore(promotion): enrich termination msg w/ actor
  internal/controller/promotions/promotions.go
Labels: priority/normal, area/controller, area/ux

#2774 fix(ui): make accurate promotion step status
  ui/src/features/common/promotion-directive-step-status/utils.test.ts
  ui/src/features/common/promotion-directive-step-status/utils.ts
Labels: kind/bug, area/ui, priority/high

#2762 fix(stage): wait for running verification to finish before next Promotion
  api/v1alpha1/stage_types.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/controller/promotions/watches.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
Labels: kind/bug, kind/enhancement, priority/high, area/controller

#2760 feat(ui): abort promotion
  internal/controller/promotions/promotions.go
  ui/src/features/common/promotion-directive-step-status/utils.test.ts
  ui/src/features/common/promotion-status/promotion-status-icon.tsx
  ui/src/features/common/promotion-status/utils.ts
  ui/src/features/project/pipelines/message-tooltip.tsx
  ui/src/features/stage/promotion-details-modal.tsx
  ui/src/features/stage/promotions.tsx
  ui/src/features/stage/utils/promotion.ts
Labels: kind/enhancement, area/ui, priority/high

#2780 fix(ui): sort images by semver
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/features/project/pipelines/images.tsx
  ui/src/features/project/pipelines/pipelines.tsx
Labels: kind/bug, area/ui

#2781 fix(ui): promotion sorting
  ui/src/features/stage/promotions.tsx
  ui/src/features/stage/utils/promotion.test.ts
  ui/src/features/stage/utils/promotion.ts
Labels: kind/bug, area/ui

#2782 fix(controller): fix skipped verifications
  internal/controller/stages/stages.go
  internal/indexer/indexer.go
Labels: kind/bug, priority/high, area/controller

#2779 refactor(promotion): remove priority queue
  internal/controller/promotions/promoqueues.go
  internal/controller/promotions/promoqueues_test.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/promotions_test.go
  internal/controller/promotions/watches.go
  internal/controller/runtime/queues.go
  internal/controller/runtime/queues_test.go
Labels: kind/refactor, priority/normal, area/controller

#2783 fix: fix for deciding to wait for verification or skip to next promo
  internal/controller/stages/stages.go
Labels: kind/bug, priority/high, area/controller

#2794 docs: fix cli download links in quickstart
  docs/docs/20-quickstart.md
Labels: kind/bug, area/documentation, priority/high, backport/release-1.0

#2797 fix: don't let stages without verifications get stuck
  internal/controller/stages/stages.go
Labels: kind/bug, priority/high, area/controller

#2800 fix(api): fix broken bearer token auth
  internal/api/kubernetes/client.go
Labels: kind/bug, area/security, priority/high, area/api, backport/release-0.9, backport/release-1.0

#2803 fix(controller): fix gitlab provider not found
  cmd/controlplane/controller.go
  internal/directives/git_pr_opener.go
Labels: kind/bug, priority/high, area/controller, backport/release-1.0

#2807 fix(chart): add patchs on promos to kargo-admin clusterrole
  charts/kargo/templates/users/cluster-roles.yaml
Labels: kind/bug, priority/high, area/charts, backport/release-1.0

#2806 chore: add redirect from akuity.kargo.io to kargo.io
  netlify.toml
Labels: kind/chore, priority/normal, backport/release-1.0

#2816 refactor: move shard filtering to cache level
  cmd/controlplane/controller.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/watches.go
  internal/controller/promotions/watches_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/watches.go
  internal/controller/warehouses/warehouses.go
Labels: kind/bug, kind/refactor, priority/normal, area/controller, backport/release-1.0

#2818 chore: change local registry port to `:5001`
  Makefile
  docs/docs/40-contributor-guide/10-hacking-on-kargo.md
Labels: area/documentation, kind/chore, area/devx, priority/normal

#2819 fix: sharded Warehouse cross-controller access
  cmd/controlplane/controller.go
  internal/controller/warehouses/warehouses.go
Labels: kind/bug, priority/high, area/controller, backport/release-1.0

#2813 docs: kargo.io in docs site header
  docs/docusaurus.config.js
Labels: area/documentation, kind/enhancement, priority/high, backport/release-1.0

#2814 docs: fix docs site redirect rule
  netlify.toml
Labels: kind/bug, area/documentation, kind/chore, priority/normal

#2825 docs: remove GA reference
  README.md
  docs/docs/10-overview.md
Labels: area/documentation, kind/chore, priority/high, backport/release-1.0

#2815 docs: roadmap updates
  docs/docs/50-roadmap.md
Labels: area/documentation, kind/chore, priority/normal, backport/release-1.0

#2521 docs: update kargo quickstart guide
  docs/docs/20-quickstart.md
  docs/static/img/argo-dashboard.png
  docs/static/img/kargo-dashboard-projects.png
  docs/static/img/kargo-dashboard-promotion.png
  docs/static/img/kargo-freight-verified.png
  docs/static/img/kargo-frieght-timeline.png
  docs/static/img/kargo-projects.png
  docs/static/img/kargo-promote-option-2.png
  docs/static/img/kargo-promote-option.png
Labels: area/documentation, kind/enhancement, priority/high, backport/release-1.0

#2841 fix(docs): kustomize build folder of uat & prod
  docs/docs/20-quickstart.md
Labels: area/documentation, backport/release-1.0

#2837 fix(helm): handle OCI version constraints and metadata
  internal/helm/helm.go
  internal/helm/helm_test.go
Labels: kind/bug, priority/normal, area/controller

#2838 feat(controller): allow enabling pprof
  cmd/controlplane/controller.go
  cmd/controlplane/garbage_collector.go
  cmd/controlplane/management_controller.go
  cmd/controlplane/webhooks.go
  docs/docs/40-contributor-guide/5-debugging-kargo.md
Labels: area/devx, priority/normal, area/controller, backport/release-1.0

#2826 feat: add low-level expression language support
  go.mod
  go.sum
  internal/expressions/json_templates.go
  internal/expressions/json_templates_test.go
Labels: kind/enhancement, priority/normal, area/controller

#2821 feat(ui): remember pagination option, project search selection jumps into project
  ui/src/features/project/list/project-list-filter.tsx
  ui/src/features/project/list/projects-list.tsx
Labels: kind/enhancement, area/ui, priority/normal

#2789 feat: add argocd application info to promotion event
  api/v1alpha1/event.go
  internal/api/promote_to_stage_v1alpha1.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/event/promotion.go
  internal/event/promotion_test.go
  internal/webhook/promotion/webhook.go
Labels: kind/enhancement, priority/normal, area/webhooks, area/controller, area/api

#2867 refactor: remove over-abstraction of indexers
  cmd/controlplane/garbage_collector.go
  cmd/controlplane/webhooks.go
  internal/api/kubernetes/client.go
  internal/api/list_project_events_v1alpha1.go
  internal/api/list_promotions_v1alpha1.go
  internal/api/option/auth.go
  internal/api/query_freights_v1alpha1.go
  internal/controller/promotions/promotions.go
  internal/controller/promotions/watches.go
  internal/controller/promotions/watches_test.go
  internal/controller/stages/control_flow_stages.go
  internal/controller/stages/control_flow_stages_test.go
  internal/controller/stages/event_handlers.go
  internal/controller/stages/event_handlers_test.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/garbage/freight.go
  internal/garbage/promotions.go
  internal/indexer/indexer.go
  internal/indexer/indexer_test.go
  internal/webhook/freight/webhook.go
Labels: kind/chore, kind/refactor, priority/normal, area/controller

#2872 feat: resource and concurrency settings
  charts/kargo/README.md
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/garbage-collector/cron-job.yaml
  charts/kargo/templates/management-controller/configmap.yaml
  charts/kargo/templates/management-controller/deployment.yaml
  charts/kargo/templates/webhooks-server/deployment.yaml
  charts/kargo/values.yaml
  cmd/controlplane/api.go
  cmd/controlplane/controller.go
  cmd/controlplane/garbage_collector.go
  cmd/controlplane/management_controller.go
  cmd/controlplane/webhooks.go
  internal/controller/management/namespaces/namespaces.go
  internal/controller/management/projects/projects.go
  internal/controller/management/serviceaccounts/serviceaccounts.go
  internal/controller/options.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/control_flow_stages.go
  internal/controller/stages/stages.go
  internal/controller/warehouses/warehouses.go
Labels: kind/enhancement, priority/normal, area/webhooks, area/controller, area/charts, area/api, area/garbage-collector

#2877 fix(api-server)!: when normalizing roles, make wildcard verb for stages include promote
  internal/api/rbac/policy_rules.go
  internal/api/rbac/policy_rules_test.go
  internal/api/rbac/roles.go
Labels: kind/bug, area/security, priority/normal, area/api, area/ux

#2878 refactor(controller): use promotion name when generating branch names
  internal/controller/promotions/promotions.go
  internal/directives/git_pusher.go
  internal/directives/git_pusher_test.go
  internal/directives/promotions.go
  internal/directives/simple_engine.go
Labels: kind/refactor, priority/normal, area/controller

#2879 chore(chart): add version placeholder comments to Chart.yaml
  charts/kargo/Chart.yaml
Labels: kind/chore, priority/normal, area/charts
