Repository akuity/kargo, pull requests merged in 2024-03, with the labels that each got.

#1558 fix(chart): warnings in chart install/upgrade
  charts/kargo/templates/management-controller/cluster-roles.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
Labels: kind/bug, priority/high, area/charts

#1556 refactor(cli): move version command out of root
  cmd/cli/root.go
  cmd/cli/version.go
  internal/cli/cmd/version/version.go
  internal/cli/option/flag.go
  internal/cli/option/option.go
Labels: kind/refactor, priority/normal, area/cli

#1557 feat(controller): watch only Secrets w/ Kargo labels
  api/v1alpha1/labels.go
  cmd/controlplane/controller.go
  internal/controller/labels.go
  internal/controller/labels_test.go
  internal/credentials/credentials.go
  internal/credentials/credentials_test.go
Labels: kind/enhancement, priority/normal, area/controller

#1559 chore(cli): update all usages and examples
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/approve/approve.go
  internal/cli/cmd/config/config.go
  internal/cli/cmd/config/set_project.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/create/project.go
  internal/cli/cmd/dashboard/dashboard.go
  internal/cli/cmd/delete/delete.go
  internal/cli/cmd/delete/project.go
  internal/cli/cmd/delete/stage.go
  internal/cli/cmd/delete/warehouse.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/get/projects.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
  internal/cli/cmd/login/login.go
  internal/cli/cmd/logout/logout.go
  internal/cli/cmd/promote/promote.go
  internal/cli/cmd/refresh/refresh.go
  internal/cli/cmd/refresh/stage.go
  internal/cli/cmd/refresh/warehouse.go
  internal/cli/cmd/update/freight.go
  internal/cli/cmd/update/update.go
  internal/cli/cmd/version/version.go
Labels: priority/normal, area/cli, area/ux

#1576 fix(api,ui): bugs resulting from recent service def changes
  internal/api/promote_stage_v1alpha1.go
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/project/project-details/update-freight-alias-modal.tsx
Labels: kind/bug, area/ui, priority/high, area/api

#1575 fix(api): bug in updated promotion endpoints
  internal/api/promote_stage_v1alpha1.go
  internal/api/promote_subscribers_v1alpha1.go
Labels: kind/bug, priority/high, area/api

#1577 fix(verification): inherit AnalysisTemplate args
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
Labels: kind/bug, priority/normal, area/controller

#1574 refactor(cli): remove `--local-server` flag and untangle root cmd logic
  cmd/cli/main.go
  cmd/cli/root.go
  internal/cli/client/client.go
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/approve/approve.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/create/project.go
  internal/cli/cmd/delete/delete.go
  internal/cli/cmd/delete/project.go
  internal/cli/cmd/delete/stage.go
  internal/cli/cmd/delete/warehouse.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/get/projects.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
  internal/cli/cmd/login/login.go
  internal/cli/cmd/promote/promote.go
  internal/cli/cmd/refresh/refresh.go
  internal/cli/cmd/refresh/stage.go
  internal/cli/cmd/refresh/warehouse.go
  internal/cli/cmd/server/server.go
  internal/cli/cmd/update/freight.go
  internal/cli/cmd/update/update.go
  internal/cli/cmd/version/version.go
  internal/cli/io/util.go
  internal/cli/kubernetes/scheme.go
  internal/cli/option/flag.go
  internal/cli/option/option.go
Labels: kind/refactor, priority/normal, area/cli

#1584 feat(crds): add shard field to stage spec
  api/v1alpha1/stage_types.go
  api/v1alpha1/types.proto
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
  pkg/api/v1alpha1/types.pb.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, priority/normal, area/webhooks, area/crds

#1586 chore(docs): fixing link for concepts in working-with-freight.md
  docs/docs/30-how-to-guides/15-working-with-freight.md
Labels: kind/bug, area/documentation, priority/normal

#1593 feat(webhook): detect duplicate warehouse subs
  internal/credentials/credentials.go
  internal/helm/helm.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
Labels: kind/enhancement, priority/normal, area/webhooks, area/ux

#1598 chore(chart): be more careful about undefined values
  api/v1alpha1/stage_types.go
  charts/kargo/templates/api/cert.yaml
  charts/kargo/templates/api/configmap.yaml
  charts/kargo/templates/api/ingress-cert.yaml
  charts/kargo/templates/api/ingress.yaml
  charts/kargo/templates/argocd/role-binding.yaml
  charts/kargo/templates/argocd/role.yaml
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/templates/dex-server/secret.yaml
  charts/kargo/templates/garbage-collector/configmap.yaml
  charts/kargo/templates/management-controller/configmap.yaml
  charts/kargo/templates/webhooks-server/configmap.yaml
  cmd/controlplane/controller.go
  internal/api/config/config.go
  internal/api/get_config_v1alpha1.go
  internal/api/get_config_v1alpha1_test.go
  internal/argocd/namespace.go
  internal/controller/promotion/argocd.go
  internal/controller/stages/health.go
  internal/kubeclient/indexer.go
Labels: kind/chore, area/charts

#1603 chore(chart): be more careful about undefined values -- 0.4.x edition
  api/v1alpha1/stage_types.go
  charts/kargo/templates/api/cert.yaml
  charts/kargo/templates/api/configmap.yaml
  charts/kargo/templates/api/ingress-cert.yaml
  charts/kargo/templates/api/ingress.yaml
  charts/kargo/templates/argocd/role-binding.yaml
  charts/kargo/templates/argocd/role.yaml
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/templates/dex-server/secret.yaml
  charts/kargo/templates/garbage-collector/configmap.yaml
  charts/kargo/templates/management-controller/configmap.yaml
  charts/kargo/templates/webhooks-server/configmap.yaml
  cmd/controlplane/controller.go
  internal/api/config/config.go
  internal/api/get_config_v1alpha1.go
  internal/api/get_config_v1alpha1_test.go
  internal/argocd/namespace.go
  internal/controller/promotion/argocd.go
  internal/controller/stages/health.go
  internal/kubeclient/indexer.go
Labels: kind/chore, area/charts

#1606 fix: bug loading rest config
  internal/api/kubernetes/client.go
Labels: kind/bug, priority/high, area/webhooks, area/controller, area/api, area/garbage-collector

#1607 fix(cli): fix bug with output flag
  internal/cli/cmd/get/get.go
Labels: kind/bug, priority/high, area/cli

#1566 feat(api,cli): add cred mgmt api end endpoints and corresponding cli sub-commands
  api/service/v1alpha1/service.proto
  api/v1alpha1/labels.go
  cmd/cli/root.go
  cmd/controlplane/api.go
  internal/api/create_credentials_v1alpha1.go
  internal/api/delete_credentials_v1alpha1.go
  internal/api/get_credentials_v1alpha1.go
  internal/api/get_credentials_v1alpha1_test.go
  internal/api/list_credentials_v1alpha1.go
  internal/api/update_credentials_v1alpha1.go
  internal/api/update_credentials_v1alpha1_test.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/create/credentials.go
  internal/cli/cmd/delete/credentials.go
  internal/cli/cmd/delete/delete.go
  internal/cli/cmd/get/credentials.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/update/credentials.go
  internal/cli/cmd/update/update.go
  internal/cli/option/flag.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/k8s.io/api/core/v1/generated_pb.ts
  ui/src/gen/k8s.io/apimachinery/pkg/api/resource/generated_pb.ts
  ui/src/gen/k8s.io/apimachinery/pkg/util/intstr/generated_pb.ts
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
  ui/src/gen/v1alpha1/types_pb.ts
Labels: kind/enhancement, priority/high, area/cli, area/api

#1608 chore: minor endpoint cleanup
  internal/api/delete_project_v1alpha1.go
  internal/api/delete_stage_v1alpha1.go
  internal/api/delete_warehouse_v1alpha1.go
  internal/api/get_project_v1alpha1.go
  internal/api/get_promotion_v1alpha1.go
  internal/api/get_stage_v1alpha1.go
  internal/api/get_warehouse_v1alpha1.go
  internal/api/watch_promotion_v1alpha1.go
  internal/api/watch_promotions_v1alpha1.go
  internal/api/watch_stages_v1alpha1.go
  internal/api/watch_warehouses_v1alpha1.go
Labels: kind/chore, priority/normal, area/api

#1609 refactor!: remove id field from Freight and FreightReference types
  api/v1alpha1/freight_types.go
  api/v1alpha1/freight_types_test.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  api/v1alpha1/stage_types_test.go
  charts/kargo/crds/kargo.akuity.io_freights.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/stages.go
  internal/controller/promotion/composite_test.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
  internal/kubeclient/indexer.go
  internal/webhook/freight/webhook.go
  internal/webhook/freight/webhook_test.go
  ui/src/features/project/project-details/nodes/stage-node.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/project/project-details/update-freight-alias-modal.tsx
  ui/src/gen/schema/freights.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/refactor, area/ui, priority/normal, area/webhooks, area/controller, area/api, area/crds

#1600 feat(gc): garbage collect old freight
  charts/kargo/README.md
  charts/kargo/templates/garbage-collector/cluster-roles.yaml
  charts/kargo/templates/garbage-collector/configmap.yaml
  charts/kargo/values.yaml
  cmd/controlplane/garbage_collector.go
  hack/tilt/values.dev.yaml
  internal/garbage/collector.go
  internal/garbage/collector_test.go
  internal/garbage/freight.go
  internal/garbage/freight_test.go
  internal/garbage/projects.go
  internal/garbage/projects_test.go
  internal/garbage/promotions.go
  internal/garbage/promotions_test.go
  internal/garbage/sorts.go
  internal/garbage/sorts_test.go
Labels: kind/enhancement, priority/normal, area/garbage-collector

#1612 refactor: add alias field to freight; add default alias in webhook
  api/v1alpha1/freight_types.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  charts/kargo/crds/kargo.akuity.io_freights.yaml
  internal/api/update_freight_alias_v1alpha1.go
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
  internal/webhook/freight/aliases.go
  internal/webhook/freight/webhook.go
  internal/webhook/freight/webhook_test.go
  ui/src/gen/schema/freights.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/refactor, priority/normal, area/webhooks, area/controller, area/api, area/crds

#1616 chore: exclude generated code from coverage report
  .github/workflows/ci.yaml
Labels: kind/chore, area/devx, priority/normal

#1619 fix(api): print `.name` as stage's current freight
  api/v1alpha1/stage_types.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
Labels: kind/bug, priority/high, area/api, area/crds

#1615 fix: make warehouses not own freight
  api/v1alpha1/freight_types.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  charts/kargo/crds/kargo.akuity.io_freights.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
  internal/kubeclient/indexer.go
  internal/kubeclient/indexer_test.go
  internal/webhook/freight/webhook.go
  internal/webhook/freight/webhook_test.go
  ui/src/gen/schema/freights.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/bug, priority/normal, area/webhooks, area/controller, area/crds

#1620 fix(chart): enhance ConfigMap/Secret checksum annotation logic
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/garbage-collector/cron-job.yaml
  charts/kargo/templates/management-controller/deployment.yaml
  charts/kargo/templates/webhooks-server/deployment.yaml
Labels: kind/bug, priority/normal, area/charts

#1623 refactor(api)!: rename promotion endpoints
  api/service/v1alpha1/service.proto
  internal/api/promote_to_stage_subscribers_v1alpha1.go
  internal/api/promote_to_stage_subscribers_v1alpha1_test.go
  internal/api/promote_to_stage_v1alpha1.go
  internal/api/promote_to_stage_v1alpha1_test.go
  internal/cli/cmd/promote/promote.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/features/project/project-details/project-details.tsx
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/refactor, priority/normal, area/cli, area/api

#1611 feat(api/cli): add verification management endpoints
  api/service/v1alpha1/service.proto
  api/v1alpha1/annotations.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/helpers.go
  api/v1alpha1/helpers_test.go
  api/v1alpha1/promotion_helpers.go
  api/v1alpha1/stage_helpers.go
  api/v1alpha1/stage_helpers_test.go
  api/v1alpha1/stage_types.go
  api/v1alpha1/warehouse_helpers.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/templates/controller/cluster-roles.yaml
  cmd/cli/root.go
  internal/api/abort_verification_v1alpha1.go
  internal/api/reverify_v1alpha1.go
  internal/cli/cmd/verify/stage.go
  internal/cli/cmd/verify/verify.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
  internal/controller/warehouses/warehouses.go
  internal/kargo/kargo.go
  internal/kargo/kargo_test.go
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/controller, area/cli, area/api

#1633 feat: set promotion shard in webhook
  internal/kargo/kargo.go
  internal/kargo/kargo_test.go
  internal/webhook/promotion/webhook.go
  internal/webhook/promotion/webhook_test.go
Labels: kind/enhancement, priority/normal, area/webhooks, area/ux

#1634 fix: make stage defaulting webhook run on update
  charts/kargo/templates/webhooks/webhooks.yaml
Labels: kind/bug, priority/high, area/webhooks, area/charts

#1632 fix: fix freight created event handler
  internal/controller/stages/watches.go
Labels: kind/bug, priority/high, area/controller

#1629 fix(gc): fix garbage collection of Promotion resources
  charts/kargo/README.md
  charts/kargo/templates/garbage-collector/configmap.yaml
  charts/kargo/values.yaml
  cmd/controlplane/garbage_collector.go
  internal/garbage/collector.go
  internal/garbage/collector_test.go
  internal/garbage/freight.go
  internal/garbage/freight_test.go
  internal/garbage/promotions.go
  internal/garbage/promotions_test.go
Labels: kind/bug, priority/normal, area/garbage-collector

#1637 feat: add convenience shard field on warehouse spec
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  charts/kargo/templates/webhooks/webhooks.yaml
  internal/webhook/stage/webhook.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/webhooks, area/ux, area/crds

#1642 fix(chart): add permissions for k8s generic gc to "promote"
  Tiltfile
  charts/kargo/templates/webhooks-server/cluster-role-binding.yaml
  charts/kargo/templates/webhooks-server/cluster-role.yaml
Labels: kind/bug, priority/high, area/charts

#1639 feat: add shard column to relevant types in both kubectl get and kargo get
  api/v1alpha1/promotion_types.go
  api/v1alpha1/stage_types.go
  api/v1alpha1/warehouse_types.go
  charts/kargo/crds/kargo.akuity.io_promotions.yaml
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  internal/cli/cmd/get/get.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
Labels: kind/enhancement, priority/normal, area/cli, area/ux, area/crds

#1647 refactor: add finalizer to stages in controller instead of webhook
  api/v1alpha1/helpers.go
  api/v1alpha1/helpers_test.go
  internal/controller/stages/stages.go
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
Labels: kind/refactor, priority/high, area/webhooks, area/controller

#1645 feat(controller): record verification history Stage
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  api/v1alpha1/stage_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/controller, area/api

#1649 fix(api): improve error handling in create/update/apply resource endpoints
  internal/api/create_or_update_resource_v1alpha1.go
  internal/api/create_resource_v1alpha1.go
  internal/api/update_resource_v1alpha1.go
Labels: kind/bug, priority/high, area/api

#1652 fix(verify): add existing verification info
  internal/controller/stages/stages.go
Labels: kind/bug, priority/normal, area/controller

#1657 chore(cli): tidy all command examples
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/approve/approve.go
  internal/cli/cmd/config/set_project.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/create/credentials.go
  internal/cli/cmd/create/project.go
  internal/cli/cmd/dashboard/dashboard.go
  internal/cli/cmd/delete/credentials.go
  internal/cli/cmd/delete/delete.go
  internal/cli/cmd/delete/project.go
  internal/cli/cmd/delete/stage.go
  internal/cli/cmd/delete/warehouse.go
  internal/cli/cmd/get/credentials.go
  internal/cli/cmd/get/freight.go
  internal/cli/cmd/get/get.go
  internal/cli/cmd/get/projects.go
  internal/cli/cmd/get/promotions.go
  internal/cli/cmd/get/stages.go
  internal/cli/cmd/get/warehouse.go
  internal/cli/cmd/login/login.go
  internal/cli/cmd/logout/logout.go
  internal/cli/cmd/promote/promote.go
  internal/cli/cmd/refresh/refresh.go
  internal/cli/cmd/refresh/stage.go
  internal/cli/cmd/refresh/warehouse.go
  internal/cli/cmd/server/server.go
  internal/cli/cmd/update/credentials.go
  internal/cli/cmd/update/freight.go
  internal/cli/cmd/update/update.go
  internal/cli/cmd/verify/stage.go
  internal/cli/cmd/verify/verify.go
  internal/cli/cmd/version/version.go
  internal/cli/templates/normalize.go
  internal/cli/templates/normalize_test.go
Labels: kind/chore, priority/normal, area/cli

#1655 feat(cli): add more commands to display config
  cmd/cli/root.go
  internal/cli/cmd/config/config.go
  internal/cli/cmd/config/get_project.go
  internal/cli/cmd/config/view.go
  internal/cli/config/config.go
  internal/cli/config/config_test.go
Labels: kind/enhancement, priority/normal, area/cli

#1666 chore(docs): update documentation for v0.5.0
  docs/docs/15-concepts.md
  docs/docs/20-quickstart.mdx
  docs/docs/30-how-to-guides/15-working-with-freight.md
Labels: area/documentation, kind/chore, priority/high

#1668 chore(deps): update connectrpc related deps
  buf.gen.yaml
  buf.ui.gen.yaml
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/app.tsx
  ui/src/config/transport.ts
  ui/src/features/auth/admin-login.tsx
  ui/src/features/auth/protected-route.tsx
  ui/src/features/auth/token-renew.tsx
  ui/src/features/project/list/projects-list.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/project/project-details/update-freight-alias-modal.tsx
  ui/src/features/stage/create-stage-modal.tsx
  ui/src/features/stage/edit-stage-modal.tsx
  ui/src/features/stage/promotions.tsx
  ui/src/features/stage/stage-actions.tsx
  ui/src/gen/k8s.io/api/core/v1/generated_pb.ts
  ui/src/gen/k8s.io/apimachinery/pkg/api/resource/generated_pb.ts
  ui/src/gen/k8s.io/apimachinery/pkg/apis/meta/v1/generated_pb.ts
  ui/src/gen/k8s.io/apimachinery/pkg/runtime/generated_pb.ts
  ui/src/gen/k8s.io/apimachinery/pkg/util/intstr/generated_pb.ts
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
  ui/src/gen/v1alpha1/generated_pb.ts
  ui/src/pages/login/login.tsx
Labels: kind/chore, area/devx, priority/low, dependencies

#1671 feat(chart)!: manage CRDs as part of release
  charts/kargo/README.md
  charts/kargo/templates/crds.yaml
  charts/kargo/values.yaml
  hack/tilt/values.dev.yaml
Labels: kind/enhancement, kind/refactor, area/charts

#1477 feat(api/controller): support filtering rules Git subscriptions
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/warehouse_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/crds/kargo.akuity.io_warehouses.yaml
  internal/controller/git/git.go
  internal/controller/warehouses/git.go
  internal/controller/warehouses/git_test.go
  internal/controller/warehouses/warehouses.go
  internal/controller/warehouses/warehouses_test.go
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/high, area/controller, area/crds

#1672 chore(docs): document Git subscription filtering
  docs/docs/15-concepts.md
  docs/docs/30-how-to-guides/15-working-with-freight.md
Labels: area/documentation, priority/normal

#1673 chore(chart): provide CRD adoption script
  hack/adopt-chart-crds.sh
Labels: kind/chore, priority/normal, area/charts

#1676 chore(warehouses): use `*testing.T` in sub tests
  internal/controller/warehouses/git_test.go
Labels: kind/chore, priority/normal, area/controller

#1677 chore(tests): use `t.TempDir`
  internal/controller/promotion/git_test.go
  internal/controller/promotion/helm_test.go
Labels: kind/chore, priority/normal, area/test

#1674 feat: make pr-based promotions work with kargo render
  Dockerfile
  internal/controller/git/git.go
  internal/controller/promotion/git.go
  internal/controller/promotion/git_test.go
  internal/controller/promotion/helm.go
  internal/controller/promotion/helm_test.go
  internal/controller/promotion/kustomize.go
  internal/controller/promotion/kustomize_test.go
  internal/controller/promotion/pullrequest.go
  internal/controller/promotion/render.go
  internal/controller/promotion/render_test.go
  internal/kargo-render/render.go
Labels: kind/enhancement, priority/high, area/controller

#1664 feat: add annotations to workload resources
  charts/kargo/README.md
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/garbage-collector/cron-job.yaml
  charts/kargo/templates/management-controller/deployment.yaml
  charts/kargo/templates/webhooks-server/deployment.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, priority/normal, area/charts

#1687 refactor(chart)!: remove api.adminAccount.password setting
  charts/kargo/README.md
  charts/kargo/templates/api/secret.yaml
  charts/kargo/values.yaml
  docs/docs/30-how-to-guides/10-installing-kargo.md
  hack/quickstart/install.sh
  hack/quickstart/k3d.sh
  hack/quickstart/kind.sh
  hack/tilt/values.dev.yaml
Labels: area/security, kind/refactor, priority/normal, area/charts

#1693 chore(doc): Remove invalid link to localhost:3000 in documentation
  docs/docs/30-how-to-guides/15-working-with-freight.md
Labels: kind/bug, area/documentation, priority/normal

#1662 feat: add security context field to helm charts
  charts/kargo/README.md
  charts/kargo/templates/api/deployment.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/templates/dex-server/deployment.yaml
  charts/kargo/templates/garbage-collector/cron-job.yaml
  charts/kargo/templates/management-controller/deployment.yaml
  charts/kargo/templates/webhooks-server/deployment.yaml
  charts/kargo/values.yaml
Labels: kind/enhancement, area/security, priority/normal, area/charts

#1689 fix: display warehouses even if no stages are subscribed to it
  ui/src/features/project/list/create-project-modal.tsx
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/project/project-details/types.ts
Labels: kind/bug, area/ui, priority/high

#1690 refactor(api): move rollouts setting to server cfg
  cmd/controlplane/api.go
  internal/api/config/config.go
  internal/api/get_analysisrun_v1alpha1.go
  internal/api/get_analysisrun_v1alpha1_test.go
  internal/api/server.go
  internal/api/server_test.go
  internal/cli/cmd/server/server.go
Labels: kind/refactor, priority/normal, area/api

#1691 feat(api): add get, list and delete endpoints for AnalysisTemplates
  api/service/v1alpha1/service.proto
  internal/api/delete_analysistemplate_v1alpha1.go
  internal/api/delete_analysistemplate_v1alpha1_test.go
  internal/api/get_analysistemplate_v1alpha1.go
  internal/api/get_analysistemplate_v1alpha1_test.go
  internal/api/list_analysistemplates_v1alpha1.go
  internal/api/list_analysistemplates_v1alpha1_test.go
  internal/api/server.go
  internal/api/testdata/analysistemplate.yaml
  pkg/api/service/v1alpha1/service.pb.go
  pkg/api/service/v1alpha1/svcv1alpha1connect/service.connect.go
  ui/src/gen/service/v1alpha1/service-KargoService_connectquery.ts
  ui/src/gen/service/v1alpha1/service_connect.ts
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/enhancement, priority/normal, area/api

#1701 fix(webhook): sync shard field and label in only one direction
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  charts/kargo/crds/kargo.akuity.io_stages.yaml
  internal/webhook/stage/webhook.go
  internal/webhook/stage/webhook_test.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/bug, priority/high, area/webhooks

#1700 fix(cli): remove duplicate `create project` cmd
  internal/cli/cmd/create/create.go
Labels: kind/bug, priority/normal, area/cli

#1695 fix: helm chart subscriptions ignore tags that are not semver
  internal/helm/helm.go
  internal/helm/helm_test.go
Labels: kind/enhancement, priority/high, priority/normal, area/controller

#1702 fix(controller): keep Stage history up-to-date
  api/v1alpha1/stage_types.go
  api/v1alpha1/stage_types_test.go
  internal/controller/promotions/promotions.go
  internal/controller/stages/stages.go
Labels: kind/bug, priority/normal, area/controller

#1703 fix(webhooks): label sync logic in webhooks
  internal/webhook/freight/webhook.go
  internal/webhook/freight/webhook_test.go
  internal/webhook/warehouse/webhook.go
  internal/webhook/warehouse/webhook_test.go
Labels: kind/bug, priority/normal, area/webhooks

#1707 fix(chart): drop support for Helm CRD lifecycle
  Makefile
  charts/kargo/resources/crds/kargo.akuity.io_freights.yaml
  charts/kargo/resources/crds/kargo.akuity.io_projects.yaml
  charts/kargo/resources/crds/kargo.akuity.io_promotions.yaml
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  charts/kargo/templates/crds.yaml
  hack/tilt/values.dev.yaml
  ui/hack/generate-schema.mjs
Labels: kind/refactor, priority/normal, area/charts, area/crds

#1706 refactor(controller)!: remove possibility of separate rollouts manager/client
  charts/kargo/README.md
  charts/kargo/templates/controller/configmap.yaml
  charts/kargo/templates/controller/deployment.yaml
  charts/kargo/values.yaml
  cmd/controlplane/controller.go
  internal/controller/stages/stages.go
  internal/controller/stages/stages_test.go
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
Labels: kind/refactor, priority/normal, area/controller, area/charts

#1705 feat(api): add `StartTime` field to `VerificationInfo`
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  internal/controller/stages/verification.go
  internal/controller/stages/verification_test.go
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
  ui/src/gen/v1alpha1/generated_pb.ts
Labels: kind/enhancement, priority/normal, area/controller, area/api

#1716 fix(cli): restore ability to read manifests from stdin -- 0.4 edition
  internal/cli/option/kubernetes.go
Labels: kind/bug, priority/high, area/cli

#1715 fix(cli): restore ability to read manifests from stdin
  go.mod
  go.sum
  internal/cli/cmd/apply/apply.go
  internal/cli/cmd/create/create.go
  internal/cli/cmd/delete/delete.go
  internal/cli/option/flag.go
  internal/cli/option/kubernetes.go
  internal/yaml/yaml.go
  internal/yaml/yaml_test.go
Labels: kind/bug, priority/high, area/cli

#1712 refactor!: slight change to credential format
  api/service/v1alpha1/service.proto
  docs/docs/30-how-to-guides/20-managing-credentials.md
  internal/api/create_credentials_v1alpha1.go
  internal/api/get_credentials_v1alpha1.go
  internal/api/get_credentials_v1alpha1_test.go
  internal/api/update_credentials_v1alpha1.go
  internal/api/update_credentials_v1alpha1_test.go
  internal/cli/cmd/create/credentials.go
  internal/cli/cmd/get/credentials.go
  internal/cli/cmd/update/credentials.go
  internal/cli/option/flag.go
  internal/credentials/credentials.go
  internal/credentials/credentials_test.go
  pkg/api/service/v1alpha1/service.pb.go
  ui/src/gen/service/v1alpha1/service_pb.ts
Labels: kind/refactor, priority/high, area/controller, area/cli, area/api

#1710 feat: Credentials management page
  ui/src/app.tsx
  ui/src/config/paths.ts
  ui/src/config/themeConfig.ts
  ui/src/features/common/confirm-modal/confirm-modal.tsx
  ui/src/features/common/segment-label.tsx
  ui/src/features/freightline/freightline-header.tsx
  ui/src/features/freightline/freightline.tsx
  ui/src/features/freightline/promoting-stage-banner.tsx
  ui/src/features/project/credentials/create-credentials-modal.tsx
  ui/src/features/project/credentials/credentials-list.tsx
  ui/src/features/project/credentials/types.ts
  ui/src/features/project/credentials/utils.tsx
  ui/src/features/project/project-details/nodes/repo-node.tsx
  ui/src/features/project/project-details/nodes/stage-node.tsx
  ui/src/features/project/project-details/project-details.module.less
  ui/src/features/project/project-details/project-details.tsx
  ui/src/features/project/project-details/types.ts
  ui/src/pages/project.tsx
Labels: kind/enhancement, area/ui, priority/normal
