Repository akuity/kargo, pull requests merged in 2025-10, with the labels that each got.

#5090 feat(ui): star projects
  api/service/v1alpha1/service.pb.go
  api/service/v1alpha1/service.proto
  docs/docs/90-api-documentation.md
  pkg/server/list_projects_v1alpha1.go
  ui/src/features/project/list/project-item/project-item.tsx
  ui/src/features/project/list/projects-list.tsx
  ui/src/features/project/list/use-star-projects.tsx
  ui/src/gen/api/service/v1alpha1/service_pb.ts
  ui/src/utils/use-local-storage.ts
Labels: kind/enhancement, area/ui, priority/normal

#5141 revert: re-strengthen short-circuiting logic in git-open-pr step
  pkg/promotion/runner/builtin/git_pr_opener.go
Labels: kind/bug, priority/high, area/controller

#5143 feat: option to auto-promote Freight currently used immediately upstream
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/stage_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_stages.yaml
  docs/docs/50-user-guide/20-how-to-guides/20-working-with-projects.md
  docs/docs/50-user-guide/20-how-to-guides/40-working-with-stages.md
  docs/docs/90-api-documentation.md
  pkg/api/stage.go
  pkg/api/warehouse.go
  pkg/api/warehouse_test.go
  pkg/controller/stages/event_handlers.go
  pkg/controller/stages/event_handlers_test.go
  pkg/controller/stages/regular_stages.go
  pkg/controller/stages/regular_stages_test.go
  pkg/indexer/indexer.go
  pkg/indexer/indexer_test.go
  pkg/webhook/kubernetes/stage/webhook.go
  pkg/webhook/kubernetes/stage/webhook_test.go
  ui/src/gen/api/v1alpha1/generated_pb.ts
  ui/src/gen/schema/stages.kargo.akuity.io_v1alpha1.json
Labels: area/documentation, kind/enhancement, priority/high, area/crds, area/management-controller

#5148 fix(controller): avoid infinite loop of failed auto-promotions
  pkg/controller/stages/regular_stages.go
  pkg/controller/stages/regular_stages_test.go
Labels: kind/bug, priority/urgent, area/controller

#5047 feat: freight creation criteria expressions
  api/v1alpha1/conditions.go
  api/v1alpha1/generated.pb.go
  api/v1alpha1/generated.proto
  api/v1alpha1/warehouse_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/kargo/resources/crds/kargo.akuity.io_warehouses.yaml
  docs/docs/50-user-guide/20-how-to-guides/30-working-with-warehouses.md
  docs/docs/50-user-guide/60-reference-docs/40-expressions.md
  docs/docs/90-api-documentation.md
  pkg/controller/warehouses/warehouses.go
  pkg/controller/warehouses/warehouses_test.go
  pkg/expressions/function/functions.go
  pkg/expressions/function/functions_test.go
  ui/src/gen/api/v1alpha1/generated_pb.ts
  ui/src/gen/schema/warehouses.kargo.akuity.io_v1alpha1.json
Labels: kind/enhancement, priority/normal, area/controller

#5151 fix(controller): improve auto-promotion criteria
  pkg/controller/stages/regular_stages.go
Labels: kind/bug, priority/high, area/controller

#5153 chore(controller): sanity check + slight cleanup of auto-promotion comments
  pkg/controller/stages/regular_stages.go
Labels: kind/chore, priority/normal, area/controller, backport/release-1.8
